<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      {% block title %}
        Jot Wiki
      {% endblock %}
    </title>
    {% block css %}
      {{ jotStylesheets() }}
      <link href="/css/reset.css" rel="stylesheet" />
      <link href="/css/wiki.css" rel="stylesheet" />
    {% endblock %}
    {% block js %}
      {{ jotScripts() }}
    {% endblock %}
  </head>
  <body>
    {% block beforeBody %}
    {% endblock %}

    {% block body %}
    {% endblock %}

    <script type="text/javascript">
      $(function() {
        jot.enableAreas();
        jot.enablePlayers();
      });
    </script>
    {# Must be present in the page in order to use jot's widget editors #}
    {{ jotTemplates() }}
  </body>
</html>
