{% extends "base.html" %}

{# Document with typical page structure #}

{% block body %}
  <div class="login-status">
    {% if user %}
      <a class="jot-button" href="/logout">Log Out</a>
    {% else %}
      <a class="jot-button" href="/login">Log In to Edit</a>
      <p>Username: admin Password: demo</p>
    {% endif %}
  </div>
  <div class="header">
    <h1>Jot Wiki</h1>
  </div>

  {% block before %}
  {% endblock %}

  <div class="main">
    {% block main %}
    {% endblock %}
  </div>

  <div class="sidebar">
    {% block sidebar %}
    {% endblock %}
  </div>

  <div class="footer">
    {% block footer %}
      Jot is in beta. Please open issues on 
      <a href="http://github.com/boutell/jot">github</a>.
    {% endblock %}
  </div>
{% endblock %}

