{% extends "layout.html" %}

{# Output the current content of the page, with buttons to edit it #}

{% block main %}
  <p><em>Hint: to make more Wiki pages, just visit them by editing the URL in the address bar and pressing Enter.</em></p>
  {{ jotArea({ slug: slug + ':main', content: main, edit: edit }) }}
{% endblock %}

{% block sidebar %}
  {{ jotArea({ slug: slug + ':sidebar', content: sidebar, edit: edit }) }}
{% endblock %}

{% block footer %}
  {# Shared footer, no page URL in the slug #}
  {{ jotArea({ slug: 'footer', content: footer, edit: edit }) }}
  {{ super() }}
{% endblock %}
