.apos-editor-context {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  background-color: var(--a-base-9);
}

.apos-editor-canvas {
  width: $a-canvas-max;
  margin: 20px auto;
  box-shadow: 0 0 9px 0 rgb(0 0 0 / 15%);
  min-height: 100vh;
  background-color: var(--a-background-primary);
}

// TODO: remove these forced focus styles after keyboard accessibility is done.
// This is useful for testing to visually see focused elements
// that may not have the browser-native blue outline when focused.
//
// *:focus, *:focus-visible {
//   outline: blue solid 2px!important;
//   background-color: rgba(0,0,255,0.3)!important;
// }
