[data-rich-text] table:not([class]),
.tiptap table:not([class]),
.tableWrapper table, /* stylelint-disable-line selector-class-pattern */
.apos-rich-text-table {
  td,
  th {
    position: relative;
  }

  .selectedCell { /* stylelint-disable-line selector-class-pattern */
      &::after { /* stylelint-disable-line max-nesting-depth */
      z-index: $z-index-manager-display;
      position: absolute; inset: 0;
      background: var(--a-base-3);
      opacity: 0.25;
      content: "";
      pointer-events: none;
    }
  }

  .column-resize-handle {
    position: absolute;
    top: 0;
    right: -2px;
    bottom: -2px;
    width: 4px;
    background-color: var(--a-primary-transparent-50);
    pointer-events: none;
  }

  .resize-cursor {
    cursor: col-resize;
  }
}

.tableWrapper { /* stylelint-disable-line selector-class-pattern */
  margin: 1.5rem 0;
  overflow-x: auto;
}
