{
  "extends": [
    "apostrophe",
    "plugin:vue/vue3-recommended"
  ],
  "globals": {
    "apos": true
  },
  "rules": {
    "no-var": "error",
    "no-console": 0,
    "vue/no-deprecated-destroyed-lifecycle": 0,
    "vue/component-tags-order": [
      "warn",
      {
        "order": [
          "template",
          "script",
          "style"
        ]
      }
    ],
    "vue/max-attributes-per-line": [
      "warn",
      {
        "singleline": 2,
        "multiline": 2
      }
    ],
    "vue/singleline-html-element-content-newline": [
      "warn",
      {
        "ignoreWhenNoAttributes": true,
        "ignoreWhenEmpty": true,
        "ignores": [
          "h1",
          "h2",
          "h3",
          "pre",
          "textarea"
        ]
      }
    ],
    "vue/attributes-order": 0
  },
  "overrides": [
    {
      "files": [
        "**/ui/**/*.js"
      ],
      "globals": {
        "apos": true
      },
      "env": {
        "browser": true
      }
    },
    {
      "files": [
        "**/ui/public/*.js"
      ],
      "globals": {
        "apos": true
      },
      "env": {
        "browser": true
      },
      "rules": {
        "no-var": 0
      }
    }
  ],
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "babel-eslint",
    "sourceType": "module"
  }
}