test/public/modules/*
test/public/css/master-*
npm-debug.log
*.DS_Store
*.npmignore
node_modules
test/node_modules
# We do not commit CSS, only LESS
*/public/css/*.css

# Dont commit test generated css
test/public/css/*.css
test/public/css/master-*.less

# Dont commit test uploads
test/public/uploads