{#
  // If you need to include extra fields on a select option
  // format a JSON string in 'data-extra' like this:
  //
  // <option data-extra='{ "myField": "thing" }' > Label </option>
  //
  // Also see the showFields case below in the formSelectStandalone macro.
  // -matt
#}
{%- macro formSelect(name, label, choices) -%}
  <fieldset class="apos-fieldset apos-fieldset-selectize apos-fieldset-select apos-fieldset-{{ name | css }}" data-name="{{ name }}">
    <label>{{ __(label) | e }}</label>
      <div class="apos-select-wrapper apos-inline-input">
      {{ formSelectStandalone(name, choices) }}
    </div>
  </fieldset>
{%- endmacro -%}
