<div {% if options.edit %}data-editable {% if not options.virtual %}data-save{% endif %}{% endif %} class="{% if options.edit %}apos-area-editable{% endif %} apos-area" {% if not options.virtual %}data-slug="{{ options.slug }}"{% endif %} data-options='{{ options | jsonAttribute({ single: "true" }) }}' id="{{ id }}">
  <div class="apos-normal-view">
    <div class="apos-content">{{ aposAreaContent(area.items, options) }}</div>
  </div>
</div>
{%- if options.virtual -%}
  {# Provide a way for frontend code to know this virtual area is here #}
  <script type="text/javascript">
    apos.emit('newArea', {{ id | json }});
  </script>
{%- endif -%}
