{%- extends 'baseModal.html' -%}
{%- include 'uiMacros.html' -%}

{%- block modalClass -%}
  apos-widget-editor
  {{ widgetClass }}
{%- endblock%}

{%- block modalLabel -%}
  {{ __('Edit Widget')}}
{%- endblock -%}

{%- block modalControls -%}
  {{ renderProgressBtn({dataAttrs: 'data-save', float: 'right', color: 'base', label: 'Save Changes'}) }}
  {{ renderProgressBtn({dataAttrs: 'data-cancel', float: 'left', label: 'Cancel', arrow: 'left'}) }}
{%- endblock -%}

{%- block modalInstructions -%}
  {{ __('Paste a widget link.') }}
{%- endblock -%}

{%- block modalBody -%}
  <form>
    {# <div class="apos-modal-body apos-ui"> #}

      {%- block formAll -%}
        {# Please do not remove these override blocks #}
        {%- block formBegin -%}{%- endblock -%}
        {%- block formBody -%}
          <input class="apos-embed"/>
        {%- endblock -%}
        {# Please do not remove these override blocks #}
        {%- block formEnd -%}{%- endblock -%}
      {%- endblock -%}
    {# </div> #}
  </form>

{%- endblock -%}
