{% block widgetVars %}
{% endblock %}

<div class="{{ widgetClass }} apos-widget-editor apos-modal apos-ui apos-template">
  <h3 class="apos-modal-title">
    {% block title %}
      {{ __('Edit Widget') }}
    {% endblock %}
  </h3>
  <div class="apos-modal-controls">
      <a href="#" data-cancel class="apos-button apos-edit-modal apos-button-white apos-button-arrow-left">{{ __('Cancel') }}</a>
      <a href="#" data-save class="apos-button apos-edit-modal apos-button-red">{{ __('Save Changes') }}</a>
  </div>

  <form>
    <div class="apos-modal-body apos-ui">
      <label class='apos-instructions'>
        {% block instructions %}
          {{ __('Paste a widget link.') }}
        {% endblock %}
      </label>
      {% block formAll %}
        {# Please do not remove these override blocks #}
        {% block formBegin %}{% endblock %}
        {% block formBody %}
          <input class="apos-embed"/>
        {% endblock %}
        {# Please do not remove these override blocks #}
        {% block formEnd %}{% endblock %}
      {% endblock %}
    </div>
  </form>

  <div class="apos-modal-footer">
    {% block additionalFooterItems %}
    {% endblock %}
  </div>
</div>