{% block widgetVars %}
{% endblock %}

<div class="{{ widgetClass }} apos-widget-editor apos-modal apos-template">
  <h3>
    {% block title %}
      Edit Widget
    {% endblock %}
  </h3>

  <form>
    <div class="apos-modal-body apos-ui">
      <label class='apos-instructions'>
        {% block instructions %}
          Paste a widget link.
        {% endblock %}
      </label>
      {% block formAll %}
        {# Please do not remove these override blocks #}
        {% block formBegin %}{% endblock %}
        {% block formBody %}
          <input class="apos-embed"/>
        {% endblock %}
        {# Please do not remove these override blocks #}
        {% block formEnd %}{% endblock %}
      {% endblock %}
    </div>
  </form>

  <div class="apos-modal-footer">
    {% block additionalFooterItems %}
    {% endblock %}
    <div class="apos-modal-footer-buttons">
      <a href="#" data-action="dismiss" class="apos-control apos-button apos-cancel">Cancel</a>
      <a href="#" class="apos-control apos-button apos-save">Save Changes</a>
    </div>
  </div>
</div>
