// Bare minimum we want even for an iframe document
doctype 5
html(lang="en")
  head
    block title
      title Jot
    block css
      link(href="/bootstrap/css/bootstrap.min.css", rel="stylesheet")
      //- link(href="/bootstrap/css/bootstrap-responsive.min.css", rel="stylesheet")
      link(href="/font-awesome/css/font-awesome.css", rel="stylesheet")
      link(href="/jot/css/content.css", rel="stylesheet")
      link(href="/css/wiki.css", rel="stylesheet")
    block js
      script(src="/js/jquery-1.8.1.min.js")
      script(src="/js/underscore-min.js")
      script(src="/bootstrap/js/bootstrap.min.js")
  body
    block beforeBody
    block body
    block afterBody
    //- Append js calls to the domready block to call them
    //- when all js files are loaded and the DOM is ready
    | <script type="text/javascript">
    | $(function() {
    block domready
    | });
    | </script>
