{% extends "slideshow.html" %}
<div class="apos-no-player">
  {% block items %}
    <ul data-slideshow-items class="apos-buttons">
      {% for file in item._items %}
        {% if ((loop.index0 < options.limit) or (not options.limit)) %}
          <li data-slideshow-item class="apos-buttons-item {% if loop.first %}apos-first{% endif %} {% if loop.last %}apos-last{% endif %}">
            {% if file.hyperlink %}
              <a href="{{ file.hyperlink | e }}" class="apos-button-link apos-slideshow-clickthru"  {% if file.hyperlinkTarget %}target="_blank"{% endif %}>
                <div data-slideshow-item class="apos-button-image" style="background-image:url({{ aposFilePath(file, { size: 'full' }) }})">
                  <img data-image alt="{{ file.title | e }}" src="{{ aposFilePath(file, { size: 'full' }) }}" />
                </div>
              </a>
            {% else %}
                <div data-slideshow-item class="apos-button-image" style="background-image:url({{ aposFilePath(file, { size: 'full' }) }})">
                  <img data-image  alt="{{ file.title | e }}" src="{{ aposFilePath(file, { size: 'full' }) }}" />
                </div>
            {% endif %}

            {% if (item.showDescriptions and file.description) or (item.showTitles and file.title) %}
              <div class="apos-slideshow-description-container">
                {% if (item.showTitles and file.title) %}<h1 class="apos-slideshow-title">{{ file.title | e }}</h1>{% endif %}
                {% if (item.showDescriptions and file.description) %}
                  <div class="apos-slideshow-description">
                    <p>
                      {# Don't render HTML tags, do respect line breaks #}
                      {{ file.description | e | nlbr }}
                    </p>
                  </div>
                {% endif %}
              </div>
            {% endif %}
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endblock %}
</div>

{% block arrows %}
{% endblock %}




