extends widgetEditor

block widgetVars
  widgetClass = 'jot-code-editor'

block title
  span Edit Preformatted Text

block instructions
  span Paste in preformatted text (such as source code).
  
block previewButton

block formBody
  textarea.jot-code

