{% extends "baseModal.html" %}
{% include "uiMacros.html" %}

{% block modalLabel %}
  {{ __('Crop Image') }}
{% endblock %}

{% block modalClass %}
  apos-slideshow-crop apos-ui-modal-no-sidebar
{% endblock %}

{% block modalControls %}
  {{ renderProgressBtn({dataAttrs: 'data-save', float: 'right', color: 'base', label: 'Crop'}) }}
  {{ renderProgressBtn({dataAttrs: 'data-cancel', float: 'left', label: 'Cancel', arrow: 'left'}) }}

  <!-- <a href="#" class="apos-control apos-button apos-save">{{ __('Crop') }}</a>
  <a href="#" data-action="dismiss" class="apos-control apos-button apos-cancel">{{ __('Cancel') }}</a> -->
{% endblock %}

{% block modalBody %}
  <img class="apos-crop-image" data-crop-image />
{% endblock %}

{% block modalFooter %}

  <div class="apos-progress-container">
    {% include "progress.html" %}
  </div>`

{% endblock %}
