{# Template for image cropping modal #}
<div class="apos-slideshow-crop apos-modal apos-template">
  <h3>
    {% block title %}
      Crop Image
    {% endblock %}
  </h3>
  <div class="apos-modal-body">
    <img class="apos-crop-image" data-crop-image />
  </div>
  <div class="apos-modal-footer">
    <a href="#" class="apos-control apos-button apos-save">Crop</a>
    <a href="#" data-action="dismiss" class="apos-control apos-button apos-cancel">Cancel</a>
    <div class="apos-progress-container">
      <img data-progress class="apos-progress" src="/apos/images/spinner.gif" />
    </div>
  </div>
</div>
