{% macro jotButton(name, label) %}
  <a class="jot-control jot-button jot-{{ name }}-button" data-{{ name }}>{{ label }}</a>
{% endmacro %}

{% macro jotMenu(name, label, choices) %}
  <div class="jot-control jot-menu-{{ name }} jot-menu">
    <div class="jot-menu-label">{{ label }}</div>
    <select class="jot-menu-select" data-{{ name }}>
      {% for choice in choices %}
        <option value="{{ choice.value | e }}">{{ choice.label }}</option>
      {% endfor %} 
    </select>
  </div>
{% endmacro %}

{% macro jotWidgetButton(name, label) %}
  <a class="jot-control jot-button jot-{{ name }}-button" data-widgetButton="{{ name  }}">{{ label }}</a>
{% endmacro %}

<form class="jot-area-form">
  <div class="jot-editor" data-editor-wrapper id="{{ wid }}">
    <div class="jot-toolbar">
      {%- for control in controls -%}
        {%- set controlType = controlTypes[control] -%}
        {%- if controlType -%}
          {%- if controlType.type == 'button' -%}
            {{ jotButton(control, controlType.label) }}
          {%- endif -%}
          {%- if controlType.type == 'menu' -%}
            {{ jotMenu(control, controlType.label, controlType.choices) }}
          {%- endif -%}
        {%- endif -%}
        {%- if itemTypes[control] and itemTypes[control].widget -%}
          {{ jotWidgetButton(control, itemTypes[control].label) }}
        {%- endif -%}
      {% endfor %}
      <div class="jot-clear"></div>
    </div>
    <div class="jot-editable" data-editable contentEditable="true">{{ jotAreaContent(items, { editView: true }) }}</div>
  </div>
  <div class="jot-area-form-footer">
    <a class="jot-control jot-button jot-save" data-save-area>Save</a>
    <a class="jot-control jot-button jot-cancel" data-cancel-area>Cancel</a>
  </div>
  <div class="jot-clear"></div>
</form>

<script>
  $(function() {
    // I have seen jquery domready fail to see this id yet, so
    // wait for "next tick" as well (Chrome)
    setTimeout(function() {
      var editor = new jot.Editor({ selector: '#{{ wid }}' });
      $(function() {
        $('#{{ wid }} [data-editable]').focus();
        $('#{{ wid }}').data('jot-editor', editor);
      });
    }, 0);
  });
</script>

