{% macro aposButton(name, label, icon) %}
  {%- if icon -%}
    <a class="apos-control apos-button apos-{{ name }}-button" data-{{ name }}><i class="icon-{{ icon }}"></i></a>
  {% else %}
    <a class="apos-control apos-button apos-{{ name }}-button" data-{{ name }}>{{ label }}</i></a>
  {% endif %}
{% endmacro %}

{% macro aposMenu(name, label, choices) %}
  <div class="apos-control apos-menu-{{ name }} apos-menu">
    <div class="apos-menu-label">{{ label }}</div>
    <select class="apos-menu-select" data-{{ name }}>
      {% for choice in choices %}
        <option value="{{ choice.value | e }}">{{ choice.label }}</option>
      {% endfor %} 
    </select>
  </div>
{% endmacro %}

{% macro aposWidgetButton(name, label, icon) %}
  {%- if icon -%}
    <a class="apos-control apos-button apos-{{ name }}-button" data-widgetButton="{{ name  }}"><i class="icon-{{ icon }}"></i></a>
  {% else %}
    <a class="apos-control apos-button apos-{{ name }}-button" data-widgetButton="{{ name  }}">{{ label }}</a>
  {% endif %}
{% endmacro %}

<form class="apos-area-form">
  <div class="apos-editor" data-editor-wrapper id="{{ wid }}">
    <div class="apos-toolbar">
      {%- for control in controls -%}
        {%- set controlType = controlTypes[control] -%}
        {%- if controlType -%}
          {%- if controlType.type == 'button' -%}
            {{ aposButton(control, controlType.label, controlType.icon) }}
          {%- endif -%}
          {%- if controlType.type == 'menu' -%}
            {{ aposMenu(control, controlType.label, controlType.choices) }}
          {%- endif -%}
        {%- endif -%}
        {%- if itemTypes[control] and itemTypes[control].widget -%}
          {{ aposWidgetButton(control, itemTypes[control].label, itemTypes[control].icon) }}
        {%- endif -%}
      {% endfor %}
      <div class="apos-clear"></div>
    </div>
    <div class="apos-editable" data-editable contentEditable="true">{{ aposAreaContent(items, { editView: true }) }}</div>
  </div>
  <div class="apos-area-form-footer">
    <a class="apos-control apos-button apos-save" data-save-area><i class="icon-ok"></i>Save</a>
    <a class="apos-control apos-button apos-cancel" data-cancel-area><i class="icon-cancel"></i>Cancel</a>
  </div>
  <div class="apos-clear"></div>
</form>

<script>
  $(function() {
    // I have seen jquery domready fail to see this id yet, so
    // wait for "next tick" as well (Chrome)
    setTimeout(function() {
      var editor = new apos.Editor({ selector: '#{{ wid }}' });
      $(function() {
        $('#{{ wid }} [data-editable]').focus();
        $('#{{ wid }}').data('apos-editor', editor);
      });
    }, 0);
  });
</script>

