<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ __('Apostrophe') }}</title>
    <link href="/apos/css/editor.css" rel="stylesheet" />
    <script src="/apos/js/jquery-1.8.1.min.js"></script>
    <script src="/apos/js/fileIframe.js"></script>
  </head>
  <body>
    {% if error %}
      <p class="apos-error">{{ error }}</p>
    {% endif %}

    {% if uploaded %}
      <p class="apos-success">{{ __('Uploaded.') }}</p>
    {% endif %}

    <form class="form-file" method="POST" enctype="multipart/form-data" action="/apos/file-iframe/{{ id }}">
      <input class="apos-file" type="file" name="file" id="file" />
      <img class="apos-spinner" data-spinner src="/apos/images/spinner.gif" />
    </form>

    <script type="text/javascript">
      $(function() {
        aposFileUploadHandler({ uploaded: {{ uploaded }}, id: '{{ id }}'});
      });
    </script>
  </body>
</html>
