{% extends "baseModal.html" %}
{% include "uiMacros.html" %}
{% include "formMacros.html" %}

{% block modalClass %}
  apos-file-annotator apos-ui-modal-no-sidebar
{% endblock %}

{% block modalLabel %}
  {{ __('Edit Image Details') }}
{% endblock %}

{% block modalInstructions %}
  <p>{{ __('You have uploaded these files. Please take the time to title and tag them so that you can search for them at a later date.') }}</p>
{% endblock %}

{% block modalControls %}
  {{ renderProgressBtn({dataAttrs: 'data-save', float: 'right', color: 'base', label: 'Save Changes'}) }}
  {{ renderProgressBtn({dataAttrs: 'data-cancel', float: 'left', label: 'Cancel', arrow: 'left'}) }}
{% endblock %}


{% block modalBody %}
  <form>
    <div data-items>
      <div data-item class="apos-annotate-file apos-template">
        <div class="apos-annotator-preview" data-preview>{{ __('Filename or image') }}</div>
        <div class="apos-annotator-column">
          {{ formText('title', 'Title') }}
          {{ formTextarea('description', 'Description') }}
          <span  class="apos-ui-container" style="">
            <a href="#"  class="apos-ui-btn apos-delete-file" data-delete-item>Cancel Upload</a>
          </span>
        </div>
        <div class="apos-annotator-column">
          {{ formText('credit', 'Credit') }}
          {{ formTags('tags', 'Tags') }}
          {{ formBoolean('private', 'Private') }}
          <p>{{ __('A "private" file can only be added to a page by you, or by an admin. This does <strong>not</strong> prevent the public from seeing the file once it is on a page.') }}</p>
        </div>
      </div>
    </div>
  </form>
{% endblock %}
