{# Downloadable files. They do not have preview images. They always have a download #}
{# link, and may or may not have a description and title. #}
<ul class="apos-files-items">
  {% for file in item._items %}
    {% if ((loop.index0 < options.limit) or (not options.limit)) %}
      <li data-slideshow-item class="apos-files-item apos-file-extension-{{ file.extension | e }} {% if loop.first %}apos-first{% endif %} {% if loop.last %}apos-last{% endif %}">
        {% if (item.showDescriptions and file.description) or (item.showTitles and file.title) %}
        <div class="apos-files-description-container">
          {% if item.showTitles and file.title %}<h1 class="apos-files-title">{{ file.title }}</h1>{% endif %}
          {% if item.showDescriptions and file.description %}
            <div class="apos-files-description">
              <p>
                {# Don't render HTML tags, do respect line breaks #}
                {{ file.description | e | nlbr }}
              </p>
            </div>
          {% endif %}
        </div>
        {% endif %}
        <i class='icon-docs'></i>
        <span class="apos-files-extension">{{ file.extension |e }}</span>
        <a href="{{ aposFilePath(file) }}" class="apos-button apos-files-name">{{ __('Download') }} {% if file.title %}{{ file.title | e }}{% else %}{{ file.name | e }}{% endif %}</a>
      </li>
    {% endif %}
  {% endfor %}
</ul>
