extends base

block append css
  link(href="/jot/css/editor.css", rel="stylesheet")

block body
  if error
    p.error #{error}

  if uploaded
    p.success Uploaded.

  form.form-file(method="POST", enctype="multipart/form-data", action="/jot/file-iframe/#{ id }")
    input.jot-file(type="file", name="file", id="file")
    img.jot-spinner(data-spinner, src="/jot/images/spinner.gif")

block append js
  script(src="/jot/js/fileIframe.js")

block append domready
  | jotFileUploadHandler({ uploaded: #{uploaded ? 'true' : 'false' }, id: '#{ id }'});
