{# Standard form markup, for convenience and consistency #}

{% macro formText(name, label) %}
  <fieldset class="apos-fieldset apos-fieldset-text apos-fieldset-{{ name | css}}" data-name="{{ name }}">
    <label>{{ label | e }}</label>
    <input name="{{ name | e }}" type="text">
  </fieldset>
{% endmacro %}

{% macro formPassword(name, label) %}
  <fieldset class="apos-fieldset apos-fieldset-password apos-fieldset-{{ name | css }}" data-name="{{ name }}">
    <label>{{ label | e }}</label>
    <input name="{{ name | e }}" type="password">
  </fieldset>
{% endmacro %}

{% macro formTags(name, label) %}
  <fieldset class="apos-fieldset apos-fieldset-text apos-fieldset-{{ name | css}}" data-name="{{ name }}">
    <label>{{ label | e }}</label>
    <!-- Text entry for autocompleting the next item -->
    <input name="{{ name | e }}" data-autocomplete placeholder="Type Here" class="autocomplete" />
    <ul data-list class="apos-tag-list">
      <li data-item>
        <span class="label-and-remove">
          <a href="#" class="apos-tag-remove" data-remove>x</a>
          <span data-label>Example label</span>
          <!-- Link to remove this choice -->
        </span>
      </li>
    </ul>
  </fieldset>
{% endmacro %}

{# Maybe fancier later #}
{% macro formEmail(name, label) %}
  {{ formText(name, label) }}
{% endmacro %}

{% macro formTextarea(name, label) %}
  <fieldset class="apos-fieldset apos-fieldset-editor apos-fieldset-{{ name | css }}" data-name="{{ name }}">
    <label>{{ label | e }}</label>
    <textarea name="{{ name | e }}" rows="4"></textarea>
  </fieldset>
{% endmacro %}

{% macro formSelect(name, label, choices) %}
  <fieldset class="apos-fieldset apos-fieldset-select apos-fieldset-{{ name | css }}" data-name="{{ name }}">
    <label>{{ label | e }}</label>
    {{ formSelectStandalone(name, choices) }}
  </fieldset>
{% endmacro %}

{# Often useful in a custom fieldset with other controls #}
{% macro formSelectStandalone(name, choices) %}
  <select name="{{ name | e }}">
    {% for choice in choices %}
      <option value="{{ choice.value | e }}">{{ choice.label | e }}</option>
    {% endfor %}
  </select>
{% endmacro %}

{# Less ambiguous to work with than a checkbox #}
{% macro formBoolean(name, label) %}
  {{ formSelect(name, label, [ { value: '1', label: 'Yes' }, { value: '0', label: 'No' }]) }}
{% endmacro %}

{# See enableSingleton in snippets' main.js for the necessary plumbing, including #}
{# specifying the type we want for the singleton #}
{% macro formSingleton(name, label) %}
  <fieldset class="apos-fieldset apos-fieldset-singleton apos-fieldset-{{ name | css }}" data-name="{{ name }}">
    <label>{{ label | e }}</label>
    {# js adds this singleton to the dialog #}
    <div data-{{ name }}-edit-view></div>
  </fieldset>
{% endmacro %}

{# See enableArea in snippets' main.js for the necessary plumbing #}
{# (TODO: factor that out to content.js or editor.js) #}
{% macro formArea(name, label) %}
  <fieldset class="apos-fieldset apos-fieldset-editor apos-fieldset-{{ name | css }}" data-name="{{ name }}">
    <label>{{ label | e }}</label>
    {# js adds this area to the dialog #}
    <div data-{{ name }}-edit-view></div>
  </fieldset>
{% endmacro %}

{# See $.selective in content.js for the necessary plumbing #}
{% macro formSelective(name, label, options = {}) %}
  <fieldset class="apos-fieldset apos-fieldset-selective apos-fieldset-{{ name | css }}"  data-name="{{ name }}">
    <label>{{ label | e }}</label>
    <input type="text" data-autocomplete {% if options.placeholder %}placeholder="{{ options.placeholder | e }}"{%endif %}/>
    <ul data-list>
      {# This is a template for creating the real items, #}
      {# it will be cloned as needed #}
      <li data-item>
        <span class="apos-selective-label" data-label>Title</span>
        <a class="apos-remove" data-remove>x</a>
        {% if options.extras %}
          <span class="apos-selective-extras">
            {# TODO: extend our support for different types of extra fields, #}
            {# style them meaningfully. Usually on same row with item #}
            {% for name, attrs in options.extras %}
              <label>{{ attrs.label | e }}</label><input data-extras name="{{ name }}" type="{{ attrs.type }}" />
            {% endfor %}
          </span>
        {% endif %}
        {% if options.propagate %}
          <span class="apos-propagate"><input type="checkbox" data-propagate /> Apply to Subpages</span>
        {% endif %}
      </li>
    </ul>
  </fieldset>
{% endmacro %}

{# A pill button with several mutually exclusive choices (a nicer radio button basically). This is not a complete fieldset, see formPill. Often used to build filters, several on a line #}

{# Sometimes a pill button group is useful without a fieldset #}
{# Designed to be plumbed with javascript, note the data attributes #}
{% macro formPillStandalone(name, options) %}
  <span class="apos-pill" data-pill data-name="{{ name }}">
    {%- for pill in options -%}
      <a class="apos-pill-choice {% if loop.first %}apos-first{% endif %}{% if loop.last %}apos-last{% endif %}" href="#" data-choice="{{ pill.value }}">{{ pill.label }}</a>
    {%- endfor -%}
  </span>
{% endmacro %}

{# Pill button group wrapped in a fieldset like the rest #}
{% macro formPill(name, label, options) %}
  <fieldset class="apos-fieldset apos-fieldset-pill apos-fieldset-{{ name | css }}"  data-name="{{ name }}">
    <label>{{ label | e }}</label>
    {{ formPillStandalone(name, options) }}
  </fieldset>
{% endmacro %}

