{% extends "baseWidgetEditor.html" %}

{% block widgetVars %}
  {% set widgetClass = 'apos-image-editor' %}
{% endblock %}

{% block title %}
  {{ __('Edit Image') }}
{% endblock %}

{% block instructions %}
{{ __('Choose an image file (GIF, JPEG or PNG).') }}
{% endblock %}

{# No preview button needed, a change event on the browse button will do #}
{% block previewButton %}
{% endblock %}

{# Replaced by iframe in jquery land #}
{% block formBody %}
  <div data-iframe-placeholder></div>
{% endblock %}


