extends widgetEditor

block widgetVars
  widgetClass = 'jot-image-editor'

block title
  span Edit Image

block instructions
  span Choose an image file (GIF, JPEG or PNG).

block previewButton
  // No preview button needed, a change event on the browse button will do

block formBody
  // Replaced by iframe in jquery land
  div(data-iframe-placeholder)

