{% extends "baseWidgetEditor.html" %}

{% block modalClass %}
  {{super()}} apos-image-editor
{% endblock %}

{% block modalLabel %}
  {{ __('Edit Image') }}
{% endblock %}

{% block modalInstructions %}
<p>{{ __('Choose an image file (GIF, JPEG or PNG).') }}</p>
{% endblock %}

{# No preview button needed, a change event on the browse button will do #}
{% block previewButton %}
{% endblock %}

{# Replaced by iframe in jquery land #}
{% block formBody %}
  <div data-iframe-placeholder></div>
{% endblock %}
