{% macro permissionsEditor(options) %}

  {% set selectiveOptions = { propagate: options.propagate } %}
  {% if workflow %}
    {% set selectiveOptions = {
      propagate: options.propagate,
      extras: [
        {
          name: 'publish',
          type: 'boolean',
          label: 'Can publish'
        }
      ]
    } %}
  {% endif %}

  {# Toggles open apos-view-permissions #}
  <div class="apos-page-settings-toggle">
    <a data-show-view-permissions href="#">{{ __('Who can see this?') }}</a>
    <div data-view-permissions class="apos-view-permissions apos-page-settings-toggle-content">
      <fieldset class="apos-fieldset apos-fieldset-select apos-fieldset-login-required" data-name="{{ loginRequired }}">
        {{ formSelect('loginRequired', 'Permitted',
            [
              {
                value: '',
                label: 'Public'
              },
              {
                value: 'loginRequired',
                label: 'Login Required'
              },
              {
                value: 'certainPeople',
                label: 'Certain People'
              }
            ]
        )}}
        <span class="apos-propagate"><input type="checkbox" name="loginRequiredPropagate" /> {{ __('Apply to Subpages') }}</span>
      </fieldset>
      {# js shows this class when "Certain People" is chosen #}
      <div class="apos-view-certain-people">
        {{ formSelective('viewGroupIds', 'Groups', selectiveOptions, { placeholder: "Type a group's name" }) }}
        {{ formSelective('viewPersonIds', 'Individuals', selectiveOptions, { placeholder: "Type a person's name" }) }}
      </div>
      <p class="apos-view-permissions-hint">{{ __('Admins can always see everything.') }}</p>
    </div>
  </div>

  {# This outer div is for hiding the entirety of edit permissions via JS. -Tom #}
  <div data-edit-permissions-container>
    {# Toggles open data-edit-permissions #}
    <div class="apos-page-settings-toggle">
      <a data-show-edit-permissions href="#">{{ __('Who can edit this?') }}</a>
      <div data-edit-permissions class="apos-edit-permissions apos-page-settings-toggle-content">
        {{ formSelective('editGroupIds', 'Groups', selectiveOptions, { placeholder: "Type a group's name" }) }}
        {{ formSelective('editPersonIds', 'Individuals', selectiveOptions, { placeholder: "Type a person's name" }) }}
        {# This won't be true for some site somewhere, give it a class #}
        <p class="apos-edit-permissions-hint">{{ __('Admins can always edit everything.') }}</p>
      </div>
    </div>
  </div>
{% endmacro %}
