{# Scripts required by jot. If you don't include this, #}
{# you're responsible for including the same stuff #}
<script src="/jot/js/jquery-1.8.1.min.js"></script>
<script src="/jot/js/underscore-min.js"></script>
<script src="/jot/js/jquery.hotkeys/jquery.hotkeys.js"></script>
<script src="/jot/js/rangy-1.2.3/rangy-core.js"></script>
<script src="/jot/js/rangy-1.2.3/rangy-selectionsaverestore.js"></script>
<script src="/jot/js/textinputs_jquery.js"></script>
<script src="/jot/js/jquery.cookie.js"></script>
{{ partial('minimumScripts.html') }}

