<div class="apos-singleton" {% if slug %} data-slug="{{ slug }}" {% endif %} data-type="{{ type }}" data-options="{{ options | jsonAttribute }}">
  <div class="apos-normal-view">
    {%- if edit -%}
      <div class="apos-ui-container">
        <a class="apos-control apos-button apos-edit-singleton" href="#"><i class="icon-pencil"></i> {{ __((options.verb or itemType.verb or 'Edit') + ' %s', __(options.label or itemType.label)) }}</a>
      </div>
      <div class="apos-clear"></div>
    {%- endif -%}
    <div class="apos-content">
      {% if item %}
        {{ aposItemNormalView(item, options) }}
      {% endif %}
    </div>
  </div>
</div>
