{% block items %}
  <ul data-slideshow-items class="apos-slideshow-items">
    {% for file in item.items %}
      {% if ((loop.index0 < options.limit) or (not options.limit)) %}
        {# Make the first image initially current #}
        {{aposLog('here comes file')}}
        {{aposLog(file.cropCoords)}}
        <li data-slideshow-item data-crop-info-x="{{file.cropCoords[0]}}" data-crop-info-y="{{file.cropCoords[1]}}" data-crop-info-w="{{file.cropCoords[4]}}" data-crop-info-h="{{file.cropCoords[5]}}" class="apos-slideshow-item {% if file.cropCoords %}apos-slideshow-cropped {% endif %}{% if loop.first %}apos-current{% endif %}" style="background-image:url({{ aposFilePath(file, { size: 'full' }) }}); {% if file.cropCoords %} {% endif %} ">
          <img class="apos-slideshow-image" data-image src="{{ aposFilePath(file, { size: 'full' }) }}" />
          {% if file.description or file.hyperlink or file.title %}
          <div class="apos-slideshow-description-container">
            {% if file.title %}<h1 class="apos-slideshow-title">{{ file.title }}</h1>{% endif %}
            {% if file.description %}
              <div class="apos-slideshow-description">
                <p>
                 {{ file.description }}
                </p>
              </div>
            {% endif %}
            {% if file.hyperlink %}
              <a href="{{ file.hyperlink }}" class="apos-button apos-slideshow-clickthru">
                {% if file.hyperlinkTitle %}
                  {{ file.hyperlinkTitle }}
                {% else %}
                  View Details
                {% endif %}
              </a>
            {% endif %}
          </div>
          {% endif %}
        </li>
      {% endif %}
      {{aposLog(file.cropCoords)}}
    {% endfor %}
  </ul>
{% endblock %}

{% block arrows %}
  {% if item.items.length > 1 %}
    <a href="#" data-next class="apos-slideshow-button apos-slideshow-next">Next</a>
    <a href="#" data-previous class="apos-slideshow-button apos-slideshow-prev">Previous</a>
  {% endif %}
{% endblock %}
