{% extends "baseWidgetEditor.html" %}

{% block widgetVars %}
  {% set widgetClass = 'apos-slideshow-editor' %}
{% endblock %}

{% block title %}
  Edit Slideshow
{% endblock %}

{% block instructions %}
Choose image files (GIF, JPEG or PNG). Drag them into the order you prefer. <br />
You can also drag images from your computer into the dashed area below. <br /> 
Or, drag the existing images shown beneath the dashed area. <br />
<span data-size-warning style="display: none">Images must be at least 400x300 pixels.</span>
{% endblock %}

{% block formAll %}
  {# Powered by the blueimp file uploader #}

  <div class="apos-slideshow-drag-container" data-drag-container>
    <div class="apos-slideshow-file-in-message" data-drag-droparea><span data-drag-message>Drop Files Here</span></div>
    <div class="apos-progress-container">
      <div data-autocropping class="apos-autocropping">Autocropping...</div>
      {% include "progress.html" %}
    </div>

    {# Main slideshow editor: reordering and removing of images, drop target #}

    <ul data-items class="apos-slideshow-editor-items apos-library-drag-peer">
      {# I am a template. I get cloned and populated by jQuery. If you #}
      {# leave my data attributes intact you can edit me quite a bit. #}
      <li data-item class="apos-slideshow-editor-item apos-template">
        <div class="apos-slideshow-editor-item-box">
          {# jQuery will give this img a proper src #}
          {# Use the smallest possible empty GIF in the meantime #}
          <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="apos-slideshow-editor-image" data-image />
          <div class="apos-slideshow-controls">
            <a class="apos-slideshow-control apos-remove" data-remove></a>
            <a class="apos-slideshow-control apos-crop" style="top:0px;" data-crop></a>
          </div>
        </div>

        <div class="apos-slideshow-extra-fields" data-extra-fields>
          <fieldset class="apos-fieldset apos-fieldset-text" data-extra-fields-title>
            <label class="short">Title</label>
            <input data-title class="apos-slideshow-editor-title" type="text" />
          </fieldset>
          <fieldset class="apos-fieldset apos-fieldset-text" data-extra-fields-description>
            <label>Description</label>
            <textarea data-description class="apos-slideshow-editor-description"></textarea>
          </fieldset>
          {% block hyperlink %}
            <fieldset class="apos-fieldset apos-fieldset-text" data-extra-fields-link>
              <label>Link</label>
              <input data-hyperlink class="apos-slideshow-editor-link" type="text" />
            </fieldset>
            <fieldset class="apos-fieldset apos-fieldset-text" data-extra-fields-linkTitle>
              <label>Link Title</label>
              <input data-hyperlink-title class="apos-slideshow-editor-link-title" type="text" />
            </fieldset>
          {% endblock %}
          <fieldset class="apos-fieldset apos-fieldset-text" data-extra-fields-credit>
            <label>Image Credit</label>
            <input data-credit class="apos-slideshow-editor-credit" type="text" />
          </fieldset>
          <fieldset class="apos-fieldset apos-fieldset-text" data-extra-fields-altTag>
            <label>Image Alt Tag</label>
            <input data-alt-tag class="apos-slideshow-editor-alt-tag" type="text" />
          </fieldset>
          <a href="#" data-extra-fields-save class="apos-control apos-button">Save Changes</a>
        </div>
      </li>
    </ul>
    <div class="apos-file-styled-container" data-uploader-container>
      <div class="apos-file-styled icon-plus">+</div>
      <input data-uploader type="file" name="files[]" class="apos-file-input" data-url="/apos/upload-files" multiple />
    </div>
    <div class="apos-clear"></div>
  </div>
  <div class="apos-orientation-select-container">
    <label class='apos-instructions'>Select Orientation</label>
    <a class="apos-button apos-landscape" title="Landscape" data-orientation-button="landscape" href="#"></a>
    <a class="apos-button apos-portrait" title="Portrait" data-orientation-button="portrait" href="#"></a>
    <a class="apos-button apos-square" title="Square" data-orientation-button="square" href="#"></a>
  </div>

  {# Media library #}

  <div class="apos-media-library apos-library-drag-peer" data-library>
    {# I float right #}
    <a href="#" data-next class="apos-next apos-library-pager"></a>
    {# I float left #}
    <a href="#" data-previous class="apos-previous apos-library-pager"></a>
    {# I sting like a bee #}
    <h5 class="apos-media-library-title">Recently Added In Media Library:</h5>

    {# UX note: you can pretty up the search submit button but please don't remove it #}
    {# entirely as some users will not press enter. -Tom #}
    <div class="apos-media-library-search">
      <label class="apos-library-search-label">Search</label>
      <input type="text" name="search" class="apos-library-search" />
      <input type="submit" class="apos-search-submit" value="Go" name="search-submit" />
      <a href="#" class="apos-remove-search apos-control apos-button" data-remove-search>x</a>
    </div>
    <ul data-library-items class="apos-media-library-items clearfix">
      {# I am a template. I get cloned and populated by jQuery. If you #}
      {# leave my data attributes intact you can edit me quite a bit. #}
      <li data-library-item class="apos-media-library-item apos-template">
        <div class="apos-media-library-add">+</div>
        <div class="apos-media-library-item-box">
          {# jQuery will give this img a proper src #}
          {# Use the smallest possible empty GIF in the meantime #}
          <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-image />
        </div>
      </li>
    </ul>

  </div>


{% endblock %}

{% block additionalFooterItems %}
<div class="apos-limit-reached" data-limit-reached style="display: none">You have reached the limit of <span data-limit>5</span> file(s) in this location.</div>
{% endblock %}

