{% include "formMacros.html" %}

<div class="apos-table-editor apos-modal apos-template">
  <h3>
    {% block title %}
      {{ __('Insert Table') }}
    {% endblock %}
  </h3>
  <div class="apos-modal-body">
    <form>
      <label class="apos-instructions">
        {% block instructions %}
          {{ __('Pick a table size.') }}
        {% endblock %}
      </label>
      {# Certain widgets, like the slideshow, are best off overriding all of this at one go #}
      {% block formAll %}
        {% block formBody %}
          {{ formText('rows', 'Rows') }}
          {{ formText('columns', 'Columns') }}
        {% endblock %}
      {% endblock %}
    </form>
  </div>
  <div class="apos-modal-footer">
    {% block additionalFooterItems %}
    {% endblock %}
    <div class="apos-modal-footer-buttons">
      <a href="#" data-action="dismiss" class="apos-control apos-button apos-cancel">{{ __('Cancel') }}</a>
      <a href="#" class="apos-control apos-button apos-save">{{ __('Insert Table') }}</a>
    </div>
  </div>
</div>
