{% extends 'baseModal.html' %}
{% include 'uiMacros.html' %}

{% block modalClass %}apos-tag-editor apos-ui-modal-no-sidebar{% endblock%}

{% block modalLabel %}
  {{ __('Edit Tags') }}
{% endblock%}

{% block modalControls %}
{{ renderProgressBtn({dataAttrs: 'data-cancel', float: 'left', label: 'Close', arrow: 'left'}) }}
{% endblock %}

{% block modalBody %}
  {# Keep this at top, it's a pain to scroll on a site with many tags. -Tom #}
  <fieldset class="apos-add-tag apos-fieldset apos-fieldset-text apos-fieldset-tags" data-add-tag>
  <div class="apos-inline-input">
    <input type="text" placeholder="New Tag" data-tag-text />
    <span class="apos-ui-container apos-ui-inline-btn" data-add>
      <a href="#" class="apos-ui-btn" data-add-go><i class="icon icon-plus"></i> Add</a>
    </span>
    </div>
  </fieldset>
  <!-- {{ renderProgressBtn({dataAttrs: 'data-add-go', color: 'base', label: 'Add'}) }} -->

  <table class="apos-tags apos-manage-table">
    <tbody data-tags>
      <tr>
        <th>Tags</th>
        <th style="width:60%;">Actions</th>
      </tr>
      <tr class="apos-tag apos-clearfix apos-template" data-tag>
        <td>
          <span class="apos-tag-text" data-tag-text>{{ __('tag') }}</span>
        </td>
        <td>
          {{ renderProgressBtn({dataAttrs: 'data-rename-open', float: 'left', color: 'base', label: 'Rename'}) }}
          <span style="display: none" class="apos-tag-rename-form" data-rename-form>
            <input name="name" />
            {{ renderProgressBtn({dataAttrs: 'data-rename-go', float: 'left', color: 'base', label: 'Rename'}) }}
            {{ renderProgressBtn({dataAttrs: 'data-rename-cancel', float: 'left', color: 'base', label: 'Cancel'}) }}
          </span>
          {{ renderProgressBtn({dataAttrs: 'data-delete', float: 'left', color: 'base', label: 'Delete'}) }}
        </td>
      </tr>
    </tbody>
  </table>

{% endblock %}
