<div class="apos-tag-editor apos-modal apos-template">
  <h3>{{ __('Edit Tags') }}</h3>
  <div class="apos-modal-body">
    <p>{{ __('You may rename or delete any tag. To combine two tags, just rename one to match the other.') }}</p>
    <div class="apos-tags" data-tags>
      <div class="apos-tag apos-clearfix apos-template" data-tag>
        <span class="apos-tag-text" data-tag-text>{{ __('tag') }}</span>
        <a href="#" class="apos-control apos-button apos-inline-block" data-rename-open>{{ __('Rename') }}</a>
        <span style="display: none" class="apos-tag-rename-form" data-rename-form>
          <input name="name" />
          <a href="#" class="apos-control apos-button apos-inline-block" data-rename-go>{{ __('Rename') }}</a>
          <a href="#" class="apos-control apos-button apos-inline-block" data-rename-cancel>{{ __('Cancel') }}</a>
        </span>
        <a href="#" class="apos-control apos-button apos-inline-block" data-delete>{{ __('Delete') }}</a></div>
    </div>
  </div>

  <div class="apos-modal-footer">
    <a href="#" data-action="dismiss" class="apos-control apos-button apos-cancel">{{ __('Done') }}</a>
  </div>
  <a href="#" data-action="dismiss" class="apos-control apos-button apos-cancel apos-corner-close">x</a>
</div>
