{% if versions.length %}
  {% for version in versions %}
    <li class="apos-version" data-version-id="{{ version._id }}">
      <ul class="apos-changes" data-changes>
        {% for change in version.diff %}
          <li class="apos-change">
            {% if change.removed %}
              <strike>
            {% endif %}
            {{ change.value | e | nlbr }}
            {% if change.removed %}
              </strike>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
      <div class="apos-author">{{ version.author | e }}</div>
      <div class="apos-created-at">{{ version.createdAt | date('LLL') }}</div>
    </li>
  {% endfor %}
{% else %}
  <p>{{ __('No versions available.') }}</p>
{% endif %}
