{# options.title can be set to "before" or "after". If not set #}
{# titles are not shown, even if present. Titles are discovered via #}
{# oembed, they come from the hosting service i.e. YouTube #}

{% if options.title and (options.title != 'after') and item.title %}
  <h4 class="apos-video-title">{{ item.title | e }}</h4>
{% endif %}
{% if item.thumbnail %}
  <img class="apos-video-thumbnail"
    src="{{ item.thumbnail }}"
    alt="{{ item.title }}" />
{% endif %}
{% if options.title and (options.title == 'after') and item.title %}
  <h4 class="apos-video-title">{{ item.title | e }}</h4>
{% endif %}
