{% block widgetVars %}
{% endblock %}

<div class="{{ widgetClass }} apos-widget-editor apos-modal apos-template">
  <h3>
    {% block title %}
      Edit Widget
    {% endblock %}
  </h3>
  <div class="apos-modal-body">
    <form>
      <label>
        {% block instructions %}
          Paste a widget link.
        {% endblock %}
      </label>
      {% block formBody %}
        <input class="apos-embed"/>
      {% endblock %}
      {% block previewButton %}
        <input data-preview="data-preview" type="submit" value="Preview" class="apos-preview-button"/><img data-spinner="data-spinner" src="/apos/images/spinner.gif" class="apos-spinner"/>
      {% endblock %}
      <div class="apos-widget-preview-container apos-requires-preview">
        <div class="apos-lorem">This is what your text will look like, in relation to the content you're adding now. If you click "left" or "right," the text will wrap around your your rich content on the right. After you insert your content, small arrows will appear above and below it in the text. These arrows help you position your text relative to your rich content. They are removed automatically when you save your content.</div>
        <div class="apos-clear"></div>
      </div>
      <fieldset class="apos-center apos-requires-preview apos-position">
        <label class="checkbox inline">
          <input type="radio" name="position" value="left"/> Left
        </label>
        <label class="checkbox inline">
          <input type="radio" name="position" value="middle" checked="checked"/> Middle
        </label>
        <label class="checkbox inline">
          <input type="radio" name="position" value="right"/> Right
        </label>
      </fieldset>
      <fieldset class="apos-center apos-requires-preview apos-size">
        <label class="checkbox inline">
          <input type="radio" name="size" value="one-third"/> 1/3
        </label>
        <label class="checkbox inline">
          <input type="radio" name="size" value="one-half"/> 1/2
        </label>
        <label class="checkbox inline">
          <input type="radio" name="size" value="two-thirds"/> 2/3
        </label>
        <label class="checkbox inline">
          <input type="radio" name="size" value="full" checked="checked"/> Full
        </label>
      </fieldset>
      {% block formAfterPreview %}
        <input class="apos-embed"/>
      {% endblock %}
    </form>
  </div>
  <div class="apos-modal-footer">
    <a href="#" class="apos-control apos-button apos-save">Save Changes</a>
    <a href="#" data-action="dismiss" class="apos-control apos-button apos-cancel">Cancel</a>
  </div>
</div>
