/* Everything must have a apos- prefix */

// body {background: red;}

.apos-one-third
{
  width: 33.33333%;
}

.apos-one-half
{
  width: 50%;
}

.apos-two-thirds
{
  width: 66.66667%;
}

.apos-full
{
  width: 100%;
}

.apos-left
{
  float: left;
  clear: both;
  margin-right: 10px;
}

.apos-middle
{
  margin: auto;
  text-align: center;
}

.apos-widget.apos-code pre
{
  text-align: left;
  font-family: Fixed, monospace;
}

.apos-right
{
  float: right;
  clear: both;
  margin-left: 10px;
}

.apos-pullquote
{
  font-size: 135%;
  color: #488;
  line-height: 1.5;
  padding-bottom: 5px;
}

.apos-image img, .apos-video img
{
  width: 100%;
}

.apos-video-thumbnail-wrapper 
{ 
  display: block; 
  background: url('/apos/images/play.png') center center no-repeat; 
}

.apos-video-thumbnail
{
  opacity: .5; 
}
