/* Everything must have a jot- prefix */

.jot-one-third
{
  width: 33.33333%;
}

.jot-one-half
{
  width: 50%;
}

.jot-two-thirds
{
  width: 66.66667%;
}

.jot-full
{
  width: 100%;
}

.jot-left
{
  float: left;
  clear: both;
  margin-right: 10px;
}

.jot-middle
{
  margin: auto;
  text-align: center;
}

.jot-code-pre
{
  text-align: left;
  font-family: Fixed, monospace;
}

.jot-right
{
  float: right;
  clear: both;
  margin-left: 10px;
}

.jot-pullquote
{
  font-size: 135%;
  color: #488;
  line-height: 1.5;
  padding-bottom: 5px;
}

.jot-image img, .jot-video img
{
  width: 100%;
}

