/* Everything must have a apos- prefix */

// body {background: red;}

.apos-one-third
{
  width: 33.33333%;
}

.apos-one-half
{
  width: 50%;
}

.apos-two-thirds
{
  width: 66.66667%;
}

.apos-full
{
  width: 100%;
}

.apos-left
{
  float: left;
  clear: both;
  margin-right: 10px;
}

.apos-middle
{
  margin: auto;
  text-align: center;
}

.apos-widget.apos-code pre
{
  text-align: left;
  font-family: Fixed, monospace;
}

.apos-widget.apos-code
{
  text-align: left;
  font-family: Fixed, monospace;
}

.apos-widget.apos-html
{
  text-align: left;
  pre {
    font-family: Fixed, monospace;
  }
  /* Please do not aggressively style anything but pre here. -Tom */
}

.apos-right
{
  float: right;
  clear: both;
  margin-left: 10px;
}

.apos-pullquote
{
  font-size: 135%;
  color: #488;
  line-height: 1.5;
  padding-bottom: 5px;
}

.apos-image img, .apos-video img
{
  width: 100%;
}

.apos-video-thumbnail-wrapper 
{ 
  display: block; 
  background: url('/apos/images/play.png') center center no-repeat; 
}

.apos-video-thumbnail
{
  opacity: .5;
  filter: alpha(opacity=70);
}

.apos-slideshow .apos-slideshow-item
{
  list-style: none;
  display: none;
  width: 100%;
  background-repeat: no-repeat;
}

.apos-slideshow .apos-slideshow-image
{
  width: 100%;
}

.apos-slideshow .apos-slideshow-item.apos-current
{
  display: block;
}

.apos-slideshow .apos-slideshow-next,
.apos-slideshow .apos-slideshow-prev
{
  position: absolute;
  top: 50%;
  // background: red;
  height: 50px;
  width: 50px;
  text-indent: -9999px;
  &::after
  {
    top:14px;
    left:0;
    border-top: 3px solid black;
    border-left: 3px solid black;
    content: " ";
    position: absolute;
    width: 15px;
    height: 15px;
  }
  &::before
  {
    border: 3px solid black;
    -webkit-border-radius: 30px;
            border-radius: 30px;
    width: 40px;
    height: 40px;
    position: absolute;
    content: " ";
    display: block;
  }

  &:hover::before
  {
    background-color: RGBA(255,255,255,0.3);
  }
}

.apos-slideshow .apos-slideshow-next
{

   right: 10px;
  &::after
  {
    left: 9px;
    -webkit-transform: rotate(135deg);
       -moz-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
         -o-transform: rotate(135deg);
            transform: rotate(135deg);
  }
}

.apos-slideshow .apos-slideshow-prev
{
  
  left: 10px;
  &::after
  {
    left: 17px;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

/* Areas and singletons are always tall enough to contain their controls */
.apos-area, .apos-singleton
{
  min-height: 50px;
}


.apos-buttons
{
  .apos-buttons-item
  {
    float: left;
    width: auto;
    
    .apos-button-link
    {
     &:hover
     {
      .apos-button-image
      {
        opacity: 0.6;
      }           
     }
    }

    .apos-button-image
    {
      width: 100%;
      min-height: 0px;
      height: 75px;

      background-size: auto 100%;
      background-position: 0px 50%;
      background-repeat: no-repeat;

      img
      {
        opacity: 0;
        background:white;
        width: auto;
        height: 100%;
      }
    }
  }
}


/*
Below are some basic styles for the map module so it doesn't look totally broken.
They will need to live somewhere else eventually
*/
#map-canvas
{
  // width: 600px;
  // height: 350px;
}

// .map-marker
// {
//   position: absolute;
  
//   &.general
//   { /*  This is general icon points as seen on homepage */
//     height: 20px;
//     width: 20px;
//     background-color: red;
//     border: 5px solid #fff;
//     -webkit-border-radius: 10px;
//             border-radius: 10px;
    
//     box-shadow: 0px 0px 11px #888;
//   }
// }

