@import 'utils.less';
@import 'colors.less';
@import 'icons.less';
@import 'typography.less';

/**
 * To prevent conflicts EVERY class should start with apos-
 */

.apos-widget
{
  display: block;
}

body
{
  padding-top: 40px;
}

/* Admin bar base styles */
.apos-admin-bar
{
  position: fixed;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: @apos-grey;
  height: 40px;
  .box-shadow;

  
  .apos-logo-tiny
  {
    float: left;
    width: 40px;
    height: 40px;
    background-color: @apos-base;
    background-image: url('../images/apos-logo-tiny.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    text-indent: -9999px;
  }

  .apos-admin-bar-item
  {
    float: left;
    height: 40px;
    line-height: 40px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-right: 1px dotted @apos-grey50;
    cursor: pointer;
    

    
    &:last-child
    {
      border-right: none;
    }

    &.apos-preview-toggle
    {
      padding: 0 10px;
      .icon-eye {display: block;}
      .icon-wrench {display: none;}

      &.previewing
      {
        .icon-eye {display: none;}
        .icon-wrench {display: block;}
      }

      &:hover
      {
        i::before {color: #ccc;}
      }
    }
    
    &.login-status
    {
      float: right;
      background: @apos-grey10;
    }

    &.apos-accordion-menu
    {
      margin: 0;
      width: 120px;
      cursor: pointer;
      
      .apos-accordion-title
      {
        color: #eee;
      }

      .apos-accordion-items
      {
        position: relative;
        z-index: 9999;
        padding: 0;
        height: auto;
        max-height: 0px;
        overflow: hidden;
        
        
        .transition;
        &.open
        {
          max-height: 600px;
        }
        
        ul
        {
          margin: 0;
          .apos-accordion-item
          {
            background-color: rgba(50,50,50,0.8);
            
            &:hover
            {
              background: @apos-grey20;
            }
          }
        }
      }
    }

    a, li
    {
      padding: 0px 15px;
      font-size: 10px;
      display: inline-block;
      color: @apos-grey50;
      width: 100%;
      height: 40px;
      line-height: 43px;
      font-family: 'cabin';      
      text-decoration: none;
    }
  }/* apos bar items */
} /* admin bar */

/*
 * Edit button shown on placeholder that reopens the widget
 */

.apos-widget-buttons {
  display: block;
  position: absolute;
  z-index: 2;
  margin-left: 20px;
  margin-top: 20px;
  pointer: hand;
}

.apos-widget-button {
  z-index: 2;
  background-color: @apos-base;
  color: white;
  padding: 4px;
  margin-top: 4px;
  margin-right: 4px;
  font-size: 12px;
  font-style: italic;
  font-weight: normal;
  float: left;
  
  cursor: pointer;
}

.apos-area-form-footer
{
  clear: both;
}

.apos-toolbar
{
  padding: 0px 0px 10px 0px;
  font-size: 20px;
}

.apos-toolbar .apos-control
{
  margin-right: 2px;
}

/**
 * Buttons and menus both have this class
 */
 
.apos-control
{
  float: left;
  padding: 4px;
  background-color: @apos-base;
  color: #fff;
  margin-right: 10px;
  text-decoration: none;
  font-size: 16px;
  margin-right: 5px;
  // text-transform: uppercase;
  font-family: Helvetica, sans-serif;
  .transition;
  opacity: 1;
}

.apos-button
{
  // .box-shadow(1px 1px 5px, 20%);
  cursor: pointer;
  .transition;
  
  &:hover
  {
    background-color: @apos-shade-10;
    text-decoration: none;
  }  
}

/* apos buttons for areas */
.apos-area,
.apos-singleton
{
  position: relative;
}

.apos-area-controls
{
  position: absolute;
  top: -10px;
  left: -10px;
}






.apos-toolbar .apos-menu-label
{
  float: left;
}

.apos-toolbar .apos-menu-select
{
  margin-left: 10px;
  float: left;
}

.apos-toolbar .apos-bold-button
{
  font-weight: bold;
}

.apos-toolbar .apos-italic-button
{
  font-style: italic;
}

.apos-toolbar a:visited
{
  color: #333;
}

.apos-toolbar a.apos-code
{
  vertical-align: top;
  font-size: 16px;
  margin-top: -2px;
  font-weight: bold;
}

.apos-editor
{
  min-height: 400px;
}

.apos-editor .apos-editable
{
  min-height: 400px;
}

.apos-center
{
  text-align: center;
}

/* Don't know why bootstrap puts a 4 pixel margin here and hoses
  inline radio boxes, but it's not what I want */
.apos-widget-editor input[type="radio"]
{
  margin-top: 0px;
}

.apos-widget-editor .apos-requires-preview
{
  display: none;
}

.apos-widget-editor .apos-embed
{
  width: 85%;
  height: 20px;
}

.apos-widget-editor .apos-preview-button
{
  margin-left: 10px;
}

.apos-widget-preview-container
{
  margin: auto;
  margin-top: 10px;
  width: 408px;
  border: 1px solid #ccc;
  // height: 210px;
  overflow: scroll;
}

.apos-widget-preview-container .apos-widget
{
  font-size: 50%;
}

.apos-widget-preview-container .apos-one-third
{
  width: 136px;
}

.apos-widget-preview-container .apos-one-half
{
  width: 204px;
}

.apos-widget-preview-container .apos-two-thirds
{
  width: 272px;
}

.apos-widget-preview-container .apos-full
{
  width: 408px;
}

.apos-lorem
{
  text-align: left;
  font-size: 80%;
}

.apos-clear
{
  clear: both;
}

.apos-template
{
  display: none;
}

.apos-pull-quote
{
  font-size: 15px; 
  line-height: 20px; 
  font-weight: bold; 
  margin-right: 10px; 
}

.apos-editor .apos-pull-quote
{
  border: 1px dashed #ccc;
}

.apos-spinner
{
  margin-top: -1px;
  margin-left: 10px;
  display: none;
}

.apos-file-iframe {
  display: block;
  border: none;
  width: 350px;
  height: 100px;
  padding-top: 10px;
}

textarea.apos-code {
  width: 97%;
}

.apos-modal .apos-modal-body 
{
  // max-height: 450px;
}

.apos-modal .apos-modal-body fieldset
{
  margin-top: 10px;
}

.apos-modal .apos-modal-body .apos-position input, 
.apos-modal .apos-modal-body .apos-size input
{
  margin-left: 10px;
  margin-right: 10px;
} 

.apos-modal .apos-modal-footer
{
  margin-top: 10px;
}


.apos-modal-blackout
{
  background-color: black;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 998;
}

.apos-modal
{
  position: absolute;
  width: 800px;
  background-color: #ddd;
  opacity: 1.0;
  z-index: 999;
<<<<<<< HEAD
  // padding: 10px;
  h3
  {
    background: @apos-base;
    color: #fff;
    font-size: 14px;
    padding: 5px 10px;
    margin-bottom: 0px;
  }

  .apos-modal-body
  {
    padding: 10px;
    
    form
    {
      input
      {
        border: none;
        padding: 8px;
        width: 100%;
        
        & ~ label {color: blue;}
      }

      label
      {
        color: #fff;
        background: @apos-base;
        padding: 8px;
        padding-bottom: 7px;
        font-size: 12px;
        border-right: 1px solid #fff;
      }

      select
      {
        position: relative;
        -webkit-appearance:none;
           -moz-appearance:none;
        border: none;
        background: @apos-base;
        border-radius: 0px;
        padding: 8px;
        cursor: pointer;
        margin-left: -4px;
        
        
        &::before
        {
          display: block;
          position: absolute;
          
          top: 0;
          right: 0;
          width: 20px;
          height: 20px;
          content: 'lkjf';
          color:#f00;
          // font-family: 'apos-icons';
        }


        option
        {
          &:hover
          {
            background: red;
          }
        }
      }

      input, select, option
      {
        &:focus
        {
          // -webkit-focus-ring-color: red;
          // outline-color: @apos-base;
          // outline-width: 3px;
          outline: none;
          // -webkit-appearance:none;
          // border: 2px solid red;
        }        
      }
    }



  }

  .apos-modal-footer
  {
    padding: 10px;
    .clearfix;
    
    *
    {
      float: right;
    }
  }
  // padding: 10px;
  // border: 3px solid #ccc;
  // color: black;
}


// Hiding these for now to see how we manage without them:
.apos-insert-before-widget,
.apos-insert-after-widget
{
  display: none;
  visibility: hidden;
}

.previewing
{
  .apos-area,
  .apos-singleton
  {
    .apos-control
    {
      opacity: 0;
    }    
  }

  .apos-area:hover,
  .apos-singleton:hover
  {
    .apos-control
    {
      opacity: 1;
    }
  }
}

.apos-slideshow-editor .apos-slideshow-editor-item
{
  list-style: none;
  float: left;
  display: block;
  width: 170px;
  height: 170px;
  margin: 5px;
  &.apos-template {
    display: none;
  }
  .apos-slideshow-editor-item-box {
    position: relative;
  }
  .apos-slideshow-editor-image {
    position: absolute;
    max-width: 170px;
    max-height: 170px;
  }
  .apos-remove {
    position: absolute;
    font-style: italic;
    color: red;
    left: 10px;
    top: 10px;
    cursor: pointer;
  }
}

.apos-progress 
{
  display: none;
  font-size: 125%;
  border-radius: 6px;
  color: gray;
}

.apos-widget.apos-full
{
  .apos-float-widget-left, .apos-float-widget-right {
    display: none;
  }
}

.apos-widget.apos-left .apos-float-widget-left
{
  display: none;
}

.apos-widget.apos-right .apos-float-widget-right
{
  display: none;
}
