/**
 * To prevent conflicts EVERY class should start with jot-
 */

.jot-widget
{
  display: block;
}

/*
 * Edit button shown on placeholder that reopens the widget
 */

.jot-widget-buttons {
  display: block;
  position: absolute;
  z-index: 2;
  margin-left: 20px;
  margin-top: 20px;
  pointer: hand;
}

.jot-widget-button {
  z-index: 2;
  background-color: black;
  color: white;
  padding: 4px;
  border: 2px solid #ccc;
  margin-top: 4px;
  margin-right: 4px;
  border-radius: 8px;
  font-size: 12px;
  font-style: italic;
  font-weight: normal;
  pointer: hand;
  float: left;
}

.jot-area-form-footer
{
  clear: both;
}

.jot-toolbar
{
  padding: 0px 0px 10px 0px;
  font-size: 20px;
}

.jot-toolbar .jot-control
{
  margin-right: 5px;
}

/**
 * Buttons and menus both have this class
 */
 
.jot-control
{
  float: left;
  padding: 5px 10px 5px 10px;
  background-color: #ddf;
  color: black;
  border-radius: 6px;
  margin-right: 10px;
  text-decoration: none;
  font-size: 16px;
  margin-right: 5px;
  font-family: Helvetica, sans-serif;
}

.jot-toolbar .jot-menu-label
{
  float: left;
}

.jot-toolbar .jot-menu-select
{
  margin-left: 10px;
  float: left;
}

.jot-toolbar .jot-bold-button
{
  font-weight: bold;
}

.jot-toolbar .jot-italic-button
{
  font-style: italic;
}

.jot-toolbar a:visited
{
  color: #333;
}

.jot-toolbar a.jot-code
{
  vertical-align: top;
  font-size: 16px;
  margin-top: -2px;
  font-weight: bold;
}

.jot-editor
{
  min-height: 400px;
}

.jot-editor .jot-editable
{
  min-height: 400px;
}

.jot-center
{
  text-align: center;
}

/* Don't know why bootstrap puts a 4 pixel margin here and hoses
  inline radio boxes, but it's not what I want */
.jot-widget-editor input[type="radio"]
{
  margin-top: 0px;
}

.jot-widget-editor .jot-requires-preview
{
  display: none;
}

.jot-widget-editor .jot-embed
{
  width: 85%;
  height: 20px;
}

.jot-widget-editor .jot-preview-button
{
  margin-left: 10px;
}

.jot-widget-preview-container
{
  margin: auto;
  margin-top: 10px;
  width: 408px;
  border: 1px solid #ccc;
  height: 210px;
  overflow: hidden;
}

.jot-widget-preview
{
  display: block;
}

.jot-widget-preview.jot-left
{
  float: left;
  clear: both;
  margin-right: 10px;
}

.jot-widget-preview.jot-middle
{
  margin: auto;
  text-align: center;
}

.jot-widget-preview.jot-right
{
  float: right;
  clear: both;
  margin-left: 10px;
}

.jot-widget-preview.jot-one-third
{
  width: 136px;
}

.jot-widget-preview.jot-one-half
{
  width: 204px;
}

.jot-widget-preview.jot-two-thirds
{
  width: 272px;
}

.jot-widget-preview.jot-full
{
  width: 408px;
}

.jot-widget-preview.jot-code
{
  font-size: 50%;
}

.jot-widget-preview.jot-middle.jot-code
{
  text-align: left;
}

.jot-lorem
{
  text-align: left;
  font-size: 80%;
}

.jot-clear
{
  clear: both;
}

.jot-template
{
  display: none;
}

.jot-pull-quote
{
  font-size: 15px; 
  line-height: 20px; 
  font-weight: bold; 
  margin-right: 10px; 
}

.jot-editor .jot-pull-quote
{
  border: 1px dashed #ccc;
}

.jot-spinner
{
  margin-top: -1px;
  margin-left: 10px;
  display: none;
}

.jot-file-iframe {
  display: block;
  border: none;
  width: 350px;
  height: 100px;
  padding-top: 10px;
}

textarea.jot-code {
  width: 97%;
}

.jot-modal .jot-modal-body 
{
  max-height: 450px;
}

.jot-modal .jot-modal-body fieldset
{
  margin-top: 10px;
}

.jot-modal .jot-modal-body .jot-position input, 
.jot-modal .jot-modal-body .jot-size input
{
  margin-left: 10px;
  margin-right: 10px;
} 

.jot-modal .jot-modal-footer
{
  margin-top: 10px;
}

.jot-button:hover
{
  text-decoration: underline;
}

.jot-modal-blackout
{
  background-color: black;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 998;
}

.jot-modal
{
  position: absolute;
  width: 600px;
  background-color: white;
  opacity: 1.0;
  z-index: 999;
  padding: 10px;
  border: 3px solid #ccc;
}

.jot-area-controls
{
  float: left;
  padding-bottom: 4px;
}

