@import 'utils.less';
@import 'colors.less';
@import 'icons.less';
@import 'typography.less';
@import '../jcrop/css/jquery.Jcrop.less';

/**
 * To prevent conflicts EVERY class should start with apos-
 */

.apos-widget
{
  display: block;
}

body
{
  padding-top: 40px;
}

/* Admin bar base styles */
.apos-admin-bar
{
  position: fixed;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: @apos-grey;
  height: 40px;
  .box-shadow;

  
  .apos-logo-tiny
  {
    float: left;
    width: 40px;
    height: 40px;
    background-color: @apos-base;
    background-image: url('../images/apos-logo-tiny.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    text-indent: -9999px;
  }

  .apos-admin-bar-item
  {
    float: left;
    height: 40px;
    line-height: 40px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-right: 1px dotted @apos-grey50;
    cursor: pointer;
    

    
    &:last-child
    {
      border-right: none;
    }

    &.apos-preview-toggle
    {
      padding: 0 10px;
      .icon-eye {display: block;}
      .icon-wrench {display: none;}

      &.previewing
      {
        .icon-eye {display: none;}
        .icon-wrench {display: block;}
      }

      &:hover
      {
        i::before {color: #ccc;}
      }
    }
    
    &.login-status
    {
      float: right;
      background: @apos-grey10;
    }

    &.apos-accordion-menu
    {
      margin: 0;
      width: 120px;
      cursor: pointer;
      
      .apos-accordion-title
      {
        color: #eee;
      }

      .apos-accordion-items
      {
        position: relative;
        z-index: 9999;
        padding: 0;
        height: auto;
        max-height: 0px;
        overflow: hidden;
        
        
        .transition;
        &.open
        {
          max-height: 600px;
        }
        
        ul
        {
          margin: 0;
          .apos-accordion-item
          {
            background-color: rgba(50,50,50,0.8);
            
            &:hover
            {
              background: @apos-grey20;
            }
          }
        }
      }
    }

    a, li
    {
      padding: 0px 15px;
      font-size: 10px;
      display: inline-block;
      color: @apos-grey50;
      width: 100%;
      height: 40px;
      line-height: 43px;
      font-family: 'cabin';      
      text-decoration: none;
    }
  }/* apos bar items */
} /* admin bar */

/*
 * Edit button shown on placeholder that reopens the widget
 */

.apos-widget-buttons {
  display: block;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  // margin-top: -10px;
  // margin-left: -10px;
  // margin-left: 20px;
  // margin-top: 20px;
  // cursor: pointer;
}

.apos-widget-button {
  z-index: 2;
  background-color: @apos-base;
  color: white;
  padding: 4px;
  // margin-top: 4px;
  // margin-right: 4px;
  font-size: 12px;
  font-style: italic;
  font-weight: normal;
  float: left;
  
  cursor: pointer;
  

  &.apos-float-widget-right,
  &.apos-float-widget-left
  {
    position: absolute;
    top: 50%;
    margin-top: -7px;
    margin-top: -14px;
    left: 0px;
    
  }

  &.apos-float-widget-right
  {
    right: 0;
    left: auto;
  }

}

.ui-resizable-handle
{
  &.ui-resizable-e,
  &.ui-resizable-s
  {
    width: 0px;
    height: 0px; 
  }

  &.ui-resizable-se
  {
    // position: relative;
    font-size: 12px;
    background: @apos-base;
    width: auto;
    text-align: center;
    padding: 0px 0px 0px 2px;
    height: 18px;
    z-index: 9999;
    right: 0px;
    bottom: 7px;
  }
}

.apos-area-form-footer
{
  clear: both;
  .clearfix;
  
  .apos-control
  {
    float:right;
    &:first-child
    {
      margin-right:0px;
    }
  }
}


.apos-toolbar .apos-control
{
  // margin-right: 2px;
  // padding: 5px;
  margin-right: 0px;
  border-right: 1px solid #fff;
}

/**
 * Buttons and menus both have this class
 */
 input.apos-control
 {
   border: none;
 }
.apos-control
{
  float: left;
  padding: 10px;
  background-color: @apos-base;
  color: #fff !important;
  margin-right: 10px;
  text-decoration: none;
  font-size: 16px;
  margin-right: 5px;
  text-transform: uppercase;
  font-family: Helvetica, sans-serif;
  .transition;
  opacity: 1;
  font-size: 11px;
  font-family: 'cabin';
  letter-spacing: 1px;
  &:hover{text-decoration:none !important;}
  
  &.apos-menu
  {
    position: relative;
    &:hover {background-color: darken(@apos-base, 10%);}
    &::after
    {
      position: absolute;
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 6px 4px 0 4px;
      border-color: #ffffff transparent transparent transparent;
      content: "";
      right: 9px;
      top: 40%;
      
    }
    .apos-menu-select
    {
      background-color: transparent;
      outline-style: none;
      border:none;
      -webkit-appearance: none;
      color: #FFF;
      &:hover{cursor: pointer;}
    }
  }
  &.apos-corner-close
  {
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 0;
    padding: 14px 13px 12px 13px;
    background-color: lighten(@apos-base, 8%);
    font-size: 1.1em;
    
  }
}

.apos-button
{
  // .box-shadow(1px 1px 5px, 20%);
  cursor: pointer;
  .transition;
  
  &:hover
  {
    background-color: @apos-shade-10;
    text-decoration: none;
  }  
}

/* apos buttons for areas */
.apos-area,
.apos-singleton
{
  position: relative;
}

.apos-area-controls
{
  position: absolute;
  top: -10px;
  left: -10px;
  z-index: 898;
}




.apos-toolbar
{
  float: right;
  display: inline-block;
  margin-top: -26px;
}

.apos-toolbar .apos-menu-label
{
  float: left;
}

.apos-toolbar .apos-menu-select
{
  margin: 0 10px;
  float: left;
}

.apos-toolbar .apos-bold-button
{
  font-weight: bold;
}

.apos-toolbar .apos-italic-button
{
  font-style: italic;
}

.apos-toolbar a:visited
{
  color: #333;
}

.apos-toolbar a.apos-code
{
  vertical-align: top;
  font-size: 16px;
  margin-top: -2px;
  font-weight: bold;
}

.apos-toolbar 
{
  i
  {
    font-size:1.1em;
    font-weight: normal;
    letter-spacing: 1px;
    display: inline-block;
  }
  .apos-button
  {
    font-size:0.85em;
    font-weight: normal;
    letter-spacing: 1px;
  }
  .apos-button,
  .apos-menu-style select
  {
    padding: 7px !important;
  }
  .apos-menu-style
  {
    padding: 0px;
    
  }

  select
  {
    font-family: 'montserratregular' !important;
    font-size: 0.9em !important;
    letter-spacing: 1px;
  }
  /* This hides the label for heading/type style */
  .apos-menu-style .apos-menu-label{ display: none; }


}

.apos-editor
{
  min-height: 400px;
  
}

.apos-editor .apos-editable
{
  .clearfix;
  min-height: 400px;
  background-color: #FFF;
  border: 1px solid rgb(221, 221, 221);
  padding: 10px;
  &:focus{outline:none;}
}

.apos-center
{
  text-align: center;
}

/* Don't know why bootstrap puts a 4 pixel margin here and hoses
  inline radio boxes, but it's not what I want */
.apos-widget-editor input[type="radio"]
{
  margin-top: 0px;
}

.apos-widget-editor .apos-requires-preview
{
  display: none;
}

.apos-widget-editor .apos-embed
{
  width: 85%;
  height: 20px;
}

.apos-widget-editor .apos-preview-button
{
  margin-left: 10px;
}

.apos-widget-preview-container
{
  margin: auto;
  margin-top: 10px;
  width: 408px;
  border: 1px solid #ccc;
  // height: 210px;
  overflow: scroll;
}

.apos-widget-preview-container .apos-widget
{
  font-size: 50%;
}

.apos-widget-preview-container .apos-one-third
{
  width: 136px;
}

.apos-widget-preview-container .apos-one-half
{
  width: 204px;
}

.apos-widget-preview-container .apos-two-thirds
{
  width: 272px;
}

.apos-widget-preview-container .apos-full
{
  width: 408px;
}

.apos-lorem
{
  text-align: left;
  font-size: 80%;
}

.apos-clear
{
  clear: both;
}

.apos-template
{
  display: none;
}

.apos-pull-quote
{
  font-size: 15px; 
  line-height: 20px; 
  font-weight: bold; 
  margin-right: 10px; 
}

.apos-editor .apos-pull-quote
{
  border: 1px dashed #ccc;
}

.apos-spinner
{
  margin-top: -1px;
  margin-left: 10px;
  display: none;
}

.apos-file-iframe {
  display: block;
  border: none;
  width: 350px;
  height: 100px;
  padding-top: 10px;
}

textarea.apos-code {
  width: 97%;
}
.apos-modal
{
  
}

.apos-modal .apos-modal-body 
{
  // max-height: 450px;
}

.apos-modal-body .apos-fieldset
{
  margin-bottom: 20px;
  .clearfix;
  
  label { display: inline-block; }
}

.apos-hr
{
  margin: 10px 0;
  border-top: 1px solid @apos-grey60;
}

.apos-modal-body .apos-hr
{
  margin: 15px 0px 20px;
}

.apos-fieldset-text
{
  input, textarea
  {
    display: block;
    width: 100%;
    max-width: 385px;
    padding: 8px 8px 10px 8px;
    border: none;
  }
  textarea {height: 100px;}
}

.apos-fieldset-radio
{
  input
  {
    margin-left: 10px;
  }
}

.apos-fieldset-select
{
  .apos-menu-style
  {
    float:none;
    padding: 0px 20px 0 0;
    display: inline-block;
  }
  select { padding: 10px; }
}

.apos-fieldset-typeahead
{
  .ui-sortable
  {
    li
    {
      background-color: lighten(@apos-base, 30%);
      padding: 10px 0;
      border-bottom: 1px solid lighten(@apos-base, 35%);
      text-transform: uppercase;
      color: @apos-grey20;
      letter-spacing: 1px;
      font-size: 11px;
      
      &:hover{ cursor: move}
      &:focus, &:active{ background-color: lighten(@apos-base, 10%);}
    }
  }

  .apos-remove
  {
    background-color: lighten(@apos-base, 15%);
    padding: 9px 8px;
    margin-right: 5px;
    color: #FFF;
    &:hover{cursor: pointer; background-color: darken(@apos-base, 10%); text-decoration: none;}
  }
}
.apos-fieldset-singleton
{
  label
  {
    float: left;
  }
  .apos-area-controls
  {
    position: relative;
    top: inherit;
    left: inherit;
  }
}

.apos-fieldset-icon
{
  height: 50px;
  label
  {
    visibility: hidden;
    width: 0px;
    &:before
    {
      visibility: visible;
      color: lighten(@apos-grey, 15%);
      width: auto;
      padding: 12px 14px;
      background: lighten(@apos-grey, 75%);
      font-size: 1.2em;
      width: 14px
    }
  }
  input
  {
    display: inline;
    width: inherit;
    -webkit-appearance: none;
    border: 0;
    background-color: #FFF !important;
    height: 39px;
    position: relative;
    top: -3px;
    left: -10px;
    width: 266px;
    &:focus{border:none; outline: none; background-color: #FFF;}
  }
  input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px white inset;
    }

}

.apos-fieldset-editor
{
  background-color: inherit;
  label
  {
    float:left;
    display: inline-block;
  }
  > div
  {
    float: left;
    width: 100%;
  }
  textarea
  {
    width: 80%;
    border: 0;
  }
  textarea{display: block; clear: both;}
}

.apos-modal .apos-modal-body .apos-position input, 
.apos-modal .apos-modal-body .apos-size input
{
  margin-left: 10px;
  margin-right: 10px;
} 

.apos-modal .apos-modal-footer
{
  margin-top: 10px;
}


.apos-modal-blackout
{
  background-color: black;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  // Just below first modal, do not use >= 899 for other things please
  z-index: 899;
}

.apos-modal
{
  top: 100px;
  position: absolute;
  width: 800px;
  background-color: #ddd;
  opacity: 1.0;
  // Do not use >= 899 for other things please
  z-index: 900;
  // padding: 10px;
  * {.apos-montserrat; color: @apos-grey;}
  strong {.apos-montserrat-bold;}
  .apos-button{color: #FFF;}
  h3
  {
    background: @apos-base;
    color: #fff;
    padding: 15px;
    margin-bottom: 0px;
    
    font-size: 10px;
    
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .apos-modal-body
  {
    padding: 15px;
    
    .apos-instructions
    {
      display: block;
      margin-bottom: 20px;
      line-height: 1.4em;
    }

    form
    {
      input
      {
        border: none;
      }

      label
      {
        color: @apos-grey10;
        letter-spacing: 1px;
        background: @apos-grey60;
        padding: 9px 12px;
        font-size: 12px;
        font-family: 'cabinbold';
        text-transform: uppercase;
        font-size: 10px;
        &.short
        {
          display: inline-block;
          .clearfix;
        }
      }


      select
      {
        position: relative;
        -webkit-appearance:none;
           -moz-appearance:none;
        border: none;
        background: @apos-base;
        border-radius: 0px;
        color: #FFF;
        

        option
        {
          &:hover
          {
            background: red;
          }
        }
      }

      input, select, option
      {
        &:focus
        {
          outline: none;
        }        
      }
      .apos-stacked-fieldset
      {
        background-color: transparent;
        label
        {
          display: inline-block;
        }
        input, textarea
        {
          max-width: none;
          width: 100%;
          margin-left: 0;
          outline:none;
          border:none;
        }
        textarea
        {
          height: 100px;
        }
      }
    }



  }

  .apos-modal-footer
  {
    padding: 15px;
    .clearfix;
    
    .apos-modal-footer-buttons
    {
      float: right;
    }

    .apos-button
    {
      font-family: 'cabin';
      font-size:10px;
      letter-spacing: 2px;
      text-transform: uppercase;
      padding: 10px 25px;
    }
  }
  // padding: 10px;
  // border: 3px solid #ccc;
  // color: black;
}


// Hiding these for now to see how we manage without them:
.apos-insert-before-widget,
.apos-insert-after-widget
{
  display: none;
  visibility: hidden;
}

.previewing
{
  .apos-area,
  .apos-singleton
  {
    .apos-control
    {
      opacity: 0;
    }    
  }

  .apos-area:hover,
  .apos-singleton:hover
  {
    .apos-control
    {
      opacity: 1;
    }
  }
}


// Apostrophe Slideshow Modal
.apos-file-styled-container
{
  position: relative;
  width: 170px;
  height: 170px;
  display: inline-block;
  margin-left: 5px;
}

.apos-progress-container
{
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.apos-slideshow-file-in
{
  .apos-slideshow-file-in-message
  {
    display: block;
  }

  .apos-slideshow-drag-container
  {
    border: 2px dashed darken(@apos-base, 20%);
    
    &.apos-upload-disabled .apos-slideshow-file-in-message { background-color: red; &:hover{cursor: wait; } }
  }
}
.apos-slideshow-file-in-message
{
  display:none;
  z-index: 20;
  color: #FFF;
  text-align: center;
  background-color: @apos-base;
  opacity: 0.5;
  height: 100%;
  width: 100%;
  top: 0;
  font-size: 3em;
  right: 0;
  position: absolute;
  

  span
  {
    position: relative;
    display: block;
    padding-top: 100px;
  }
}

.apos-limit-reached
{
  position: absolute;
  bottom: 15px;
  left: 15px;
}

.apos-slideshow-drag-container
{ 
  border: 2px dashed @apos-base;
  padding: 17px 10px 30px 10px;
  position: relative;
  .clearfix;
  
  // &.apos-upload-disabled:hover {background-color: red;}
  
  &:hover
  {
    .apos-file-styled { opacity: 0.8; }  
  }
  
  .apos-file-input
  {
    position: absolute;
    top: 0;
    z-index: 10;
    height: 170px;
    width: 170px;
    // filter:alpha(opacity: 0);
    opacity: 0;
    &:hover
    {
      cursor: pointer;
      background-color: darken(@apos-base, 10%);
    }
  }
  .apos-file-styled
  {
    color: @apos-base;
    background-color: @apos-base;
    opacity: 0.5;
    height: 170px;
    width: 170px;
    position: relative;
    display: inline-block;
    &:hover
    {
      background-color: darken(@apos-base, 10%);
      color: darken(@apos-base, 10%);
      cursor: pointer;
      opacity: 0.7;
      
    }
    
    &:before
    {
      color: #FFF;
      visibility: visible;
      width: 100%;
      font-size: 2em;
      text-align: center;
      margin: 0;
      top: 43%;
      position: absolute;
      left: 0;
    }
  }
}


.apos-slideshow-editor .apos-slideshow-editor-item
{
  list-style: none;
  float: left;
  display: block;
  width: 170px;
  // height: 170px;
  margin: 0 8px 15px;
  background-color: #eee;
  &.apos-template
  {
    display: none;
  }

  &.apos-slideshow-reveal-extra-fields
  {
    background:#eee;
    .apos-slideshow-extra-fields { display: block; width: 250px; }
  }

  &.apos-slideshow-reveal-crop
  {
    background:#eee;
    .apos-slideshow-crop{display: block;}
  }

  .apos-slideshow-editor-item-box
  {
    position: relative;
    overflow: hidden;
    width: 170px;
    height: 170px;
  }
  .apos-slideshow-editor-image { height: 120%; }
  .apos-slideshow-control
  {
    position: absolute;
    background-color: @apos-base;
    width: 25px;
    height: 25px;
    cursor: pointer;
    color: white;
    text-align: center;
    font-size: 1.3em;
    line-height: 1.4em;
    &:hover
    {
      background-color: darken(@apos-base, 10%);
      text-decoration: none;
      
      &::before { background-color: darken(@apos-base, 10%) }
    }

    &::before
    {
      font-family: 'apos-icons';
      background: @apos-base;
      font-size:1em;
      padding: 5px;
      font-size: 0.9em;
    }
  }
  .apos-remove
  {
    right: 0;
    top: 0;
  }
  .apos-edit
  {
    // display: none;
    right: 24px;
    top: 0;
    visibility: hidden;
    &::before
    {
      content:'\1f527';
      visibility: visible;
    }
  }

}
.apos-slideshow-editor .apos-slideshow-extra-fields-controls
{
  float: left;
    *{float:left;}
    input{margin-right:5px;}
}

.apos-slideshow-editor .apos-slideshow-extra-fields
{
  display: none;
  padding: 20px 10px 10px 10px;
  -webkit-box-shadow:  1px 1px 15px 1px rgba(0, 0, 0, 0.3);
  box-shadow:  1px 1px 15px 1px rgba(0, 0, 0, 0.3);
  margin-top: 20px;
  position: absolute;
  background:#eee;
  z-index: 100;
  &::before
  {
    position: absolute;
    width: 170px;
    height: 20px;
    content: " ";
    background:#eee;
    top: -20px;
    left: 0px;
  }
}
.apos-extra-fields-enabled .apos-edit
{
  display: block !important;
}

// Slideshow Cropping
.apos-slideshow-crop
{
  position: absolute;
  bottom:-57px;
  display: inline-block;
  z-index: 11;
  padding: 20px 10px 10px 10px;
  -webkit-box-shadow:  1px 1px 15px 1px rgba(0, 0, 0, 0.3);
  box-shadow:  1px 1px 15px 1px rgba(0, 0, 0, 0.3);
  background: #eee;
  display: none;
  
}

// End Apostrophe Slideshow Modals

.apos-progress
{
  display: none;
  font-size: 125%;
  border-radius: 6px;
  color: gray;
}

.apos-widget.apos-full
{
  .apos-float-widget-left, .apos-float-widget-right {
    display: none;
  }
}

.apos-widget.apos-left .apos-float-widget-left
{
  display: none;
}

.apos-widget.apos-right .apos-float-widget-right
{
  display: none;
}


.apos-manage-table
{
  * {.apos-cabin;}
  width: 100%;
  th
  {
    .apos-montserrat-bold;
    color: @apos-grey10;
    padding: 15px 0 15px 20px;
    text-transform: uppercase;
    font-size:11px;
    background-color: @apos-grey70;
  }
  td, th
  {
    border-right: 1px dashed @apos-grey50;
    text-align: left;
    font-size:11px;
    letter-spacing: 1px;
    &:last-child{border-right: none;}
  }
  tr
  {
    background-color: lighten(@apos-grey, 63%);
    &:hover
    {
      background-color:@apos-grey70 !important;
    }

    &:nth-child(odd)
    {
      background-color: @apos-grey60;
    }
  }
  td span
  {
    padding: 30px 0 30px 15px;
    display: inline-block;
    color: @apos-grey20;
  }
  a
  {
    color: @apos-grey10;
    font-size: 12px;
  }

  // Events Tabls
  .apos-manage-events-date{width: 15%;}
  .apos-manage-events-title{width: 55%;}
  .apos-manage-events-author{width: 15%;}
  .apos-manage-events-status{width: 15%;}
}

/* Fixup for jquery ui so it doesn't fall behind the modal */
ul.ui-autocomplete {
    z-index: 999 !important;
}



// Login screen
// Should probably have some sort of internal admin view stylesheet

.apos-login
{
  background-color: @apos-grey-light;
  .content .main
  {
    max-width: 100%;
    text-align: center;
    min-height: 0px;
  }
  .apos-login-inner
  {
    padding: 15px;
  }
  .appy-login
  {
    .apos-modal;
    position: relative;
    text-align: left;
    width: 350px;
    margin: 0 auto;
    height: 210px;
    
    .apos-control
    {
      float: right;
      margin-right: 12px;
    }
    
  }

}


// jCrop Style
