@import 'colors.less';
// @charset "UTF-8";

// some FontAwesome workarounds
.icon-video:before { content: @film; }
.icon-button:before { content: @plus-sign-alt; }
.icon-image:before { content: @picture; }
.icon-ul:before { content: @list-ul; }
.icon-blog:before { content: @file-text;}
.icon-doc:before { content: @list-alt; }
.icon-map:before { content: @map-marker; }
.icon-snippets:before { content: @pushpin; }
.icon-events:before { content: @calendar; }
.icon-directory:before,
.icon-people:before { content: @group; }
.icon-person:before { content: @user; }
.icon-homework:before { content: @check-sign; }
.icon-page:before { content: @star; }
.icon-eye:before { content: @eye-open; }
.icon-docs:before { content: @file-alt; font-style: normal; }
