{# Included directly from the `area.html` template.
The area related `data.*` is available plus `item` and `widgetOptions`. #}
{%- set lastId = apos.modules['@apostrophecms/layout-widget'].detectLastTabletFullWidthItem(data.area.items) -%}
<div
  {% if data.canEdit %} data-apos-widget="{{ item._id }}"{% endif %}
  data-visible-tablet="{{ item.tablet.show }}"
  data-visible-mobile="{{ item.mobile.show }}"
  {% if lastId and item._id === lastId %}data-tablet-full="true"{% endif %}
  style="
    --colstart: {{ item.desktop.colstart }}; 
    --colspan: {{ item.desktop.colspan }}; 
    --rowstart: {{ item.desktop.rowstart }}; 
    --rowspan: {{ item.desktop.rowspan }}; 
    --justify: {{ item.desktop.justify }};
    --align: {{ item.desktop.align }};
    --order: {{ item.desktop.order }};
">
  {% area item, 'content' %}
</div>
