{%- set meta = apos.modules[data.widget.type + '-widget'].getLayoutMeta(data.widget) -%}
{% area data.widget, 'columns' with { 
  aposStyle: '--grid-columns: ' + (meta.columns or data.options.columns) + ';' + 
    ' --grid-gap: ' + (data.options.gap or '0') + ';' + 
    ' --grid-rows: ' + meta.desktop.rows  + ';' + 
    ' --mobile-grid-rows: ' + meta.mobile.rows + ';' +
    ' --tablet-grid-rows: ' + meta.mobile.rwos + ';' + 
    ' --justify-items: ' + (data.options.defaultCellHorizontalAlignment) + ';' +
    ' --align-items: ' + (data.options.defaultCellVerticalAlignment) + ';', 
  aspoClassName: 'layout-widget',
  aposParentOptions: data.options,
  aposAttrs: {
    'tablet-auto': meta.tablet.auto,
    'mobile-auto': meta.mobile.auto
  }
} %}
