@font-face {
  font-family: "Page Sans";
  src: url("/modules/article-page/fonts/sans.woff2") format("woff2");
}

@font-face {
  font-family: "Widget Sans";
  src: url("/modules/article-widget/fonts/sans.woff2") format("woff2");
}
