.hello {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: calc(100vh - 50px);
}

.hello1 {
  width: 80vw;
}

.hello1 .hello2 {
  width: 20vw;
}

.hello3.hello4 {
  width: 120vw;
}
