// Imports all mixins, variables, functions, other meta that generates no classes
// until used

@mixin apos-transition($what: all, $duration: 0.1s, $ease: ease-in-out) {
  transition: $what $duration $ease;
}

@mixin apos-p-reset() {
  margin: 0;
}

@mixin apos-align-icon() {
  display: flex;
  align-items: center;
}

@mixin apos-list-reset() {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@mixin apos-fieldset-reset() {
  margin: 0;
  padding: 0;
  border: none;
}

@mixin apos-button-reset() {
  overflow: visible;
  width: auto;
  margin: 0;
  padding: 0;
  border: none;
  color: inherit;
  background: transparent;
  text-align: inherit;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  // stylelint-disable property-no-vendor-prefix
  -moz-appearance: none;
  -webkit-appearance: none;
  // stylelint-enable property-no-vendor-prefix
  &:hover {
    cursor: pointer;
  }
  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
}
