$brand-red: #ea433a;
$brand-gold: #cc9300;
$brand-magenta: #b327bf;
$brand-blue: #66f;
$brand-green: #00bf9a;

$spacing-base: 10px;
$spacing-half: $spacing-base / 2;
$spacing-three-quarters: ($spacing-base / 2) + (($spacing-base / 4));
$spacing-double: $spacing-base * 2;
$spacing-triple: $spacing-base * 3;

$input-padding: $spacing-base * 1.5;
$boolean-padding: $spacing-double;

$input-color-disabled: var(--a-base-4);

@mixin apos-primary-mixin($color) {
  --a-primary: #{$color};
  --a-primary-50: #{transparentize($color, 0.5)};
  // stylelint-disable
  --a-primary-button-hover: #{mix(black, $color, 10%)};
  --a-primary-button-active: #{mix(black, $color, 15%)};
  --a-primary-button-disabled: #{mix(white, $color, 40%)};
  // stylelint-enable
}

//Application Styles

@mixin type-help {
  font-family: var(--a-family-default);
  font-size: var(--a-type-small);
  font-weight: var(--a-weight-base);
  letter-spacing: var(--a-letter-base);
  line-height: var(--a-line-base);
  text-transform: uppercase;
}

@mixin type-small {
  font-family: var(--a-family-default);
  font-size: var(--a-type-small);
  font-weight: var(--a-weight-base);
  letter-spacing: var(--a-letter-base);
  line-height: var(--a-line-tall);
}

@mixin type-base {
  font-family: var(--a-family-default);
  font-size: var(--a-type-base);
  font-weight: var(--a-weight-base);
  letter-spacing: var(--a-letter-base);
  line-height: var(--a-line-base);
}

@mixin type-large {
  font-family: var(--a-family-default);
  font-size: var(--a-type-large);
  font-weight: var(--a-weight-base);
  letter-spacing: var(--a-letter-base);
  line-height: var(--a-line-tall);
}

@mixin type-title {
  font-family: var(--a-family-default);
  font-size: var(--a-type-heading);
  font-weight: var(--a-weight-base);
  letter-spacing: var(--a-letter-base);
  line-height: var(--a-line-tall);
}

@mixin type-display {
  font-family: var(--a-family-default);
  font-size: var(--a-type-display);
  font-weight: var(--a-weight-base);
  letter-spacing: var(--a-letter-base);
  line-height: var(--a-line-base);
}
