$font-default: -apple-system, system-ui, 'BlinkMacSystemFont', 'Segoe UI',
  'Roboto', 'Helvetica', 'Arial', sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol';

$font-families: (
  default: $font-default
);

$font-weights: (
  medium: 500,
  bold: 700
);

$font-sizes: (
  default: 12px,
  meta: 10px,
  input-label: 14px,
  input: 12px,
  input-hint: 12px,
  menu-label: 14px,
  heading: 22px,
  modal: 12px,
  rail-title: 14px,
  project-title: 32px
);

$spacing-base: 10px;
$spacing-double: $spacing-base * 2;
$spacing-triple: $spacing-base * 3;

$input-padding: $spacing-base * 1.5;
$boolean-padding: $spacing-double;

@mixin apos-primary-mixin($color) {
  --a-primary: #{$color};
  --a-primary-50: #{transparentize($color, 0.5)};
  // stylelint-disable
  --a-primary-button-hover: #{mix(black, $color, 10%)};
  --a-primary-button-active: #{mix(black, $color, 15%)};
  --a-primary-child: #{mix(red, $color, 50%)};
  --a-primary-button-disabled: #{mix(white, $color, 40%)};
  // stylelint-enable
}
