// NOTE: These should be kept in rank order for easy comparison.
$z-index-under: -1;
// Use `z-index-base` to simply establish a new stacking context.
$z-index-base: 0;
$z-index-default: 1;
$z-index-model-popup: 1;
$z-index-manager-display: 2;
$z-index-widget-add-focus: 3;
$z-index-widget-focus: 3;
$z-index-manager-toolbar: 3;
$z-index-widget-highlight: 4;
$z-index-admin-bar: 1000;
$z-index-modal-bg: 2000;
$z-index-modal-inner: 2001;
$z-index-notifications: 2003;
