{# Output an easily styled classic pager, if needed #}
{# ACHTUNG: the math was done pretty carefully to accommodate 5 links in the pager. #}
{# If you want more you'll have to hunt down the right changes. This would be easier #}
{# if 'let' statements really worked in nunjucks. TODO: when they update nunjucks, #}
{# rework this. Also note apos.pager.pageRange which is only necessary because range() seems #}
{# busted in this release of nunjucks #}

{% macro render(options, url) %}
  {% if ((options.page > 1) or (options.total > 1)) %}
    {% set pagerClass = options.class %}
    {% set gapClass = pagerClass + '__gap' if pagerClass else '' %}
    <div class="{{ pagerClass if pagerClass }}">
      {{ pagerPage(1, options, pagerClass, url) }}
      {% if apos.pager.showHeadGap(options) %}
        <span class="{{ gapClass }}">&hellip;</span>
      {% endif %}

      {% for page in apos.pager.pageRange({
        page: options.page,
        total: options.total,
        shown: options.shown or 5
      }) %}
        {{ pagerPageInner(page, options, pagerClass, url) }}
      {% endfor %}

      {% if apos.pager.showTailGap(options) %}
        <span class="{{ gapClass }}">&hellip;</span>
      {% endif %}
      {{ pagerPage(options.total, options, pagerClass, url) }}
    </div>
  {% endif %}
{% endmacro %}

{% macro pagerPageInner(page, options, pagerClass, url) %}
  {% if ((page > 1) and (page < options.total)) %}
    {{ pagerPage(page, options, pagerClass, url) }}
  {% endif %}
{% endmacro %}

{% macro pagerPage(page, options, pagerClass, url) %}
  {% set pageClass = pagerClass + '__item' if pagerClass else '' %}

  {% if (page <= options.total) %}
    <span class="{{ pageClass }}{% if page == 1 %}  is-first{% endif %}{% if page == options.total %} is-last{% endif %}{% if page == options.page %} is-active{% endif %}">
      {%- if (options.page != page) -%}
        {# Dual markup for javascript applications and plain old links #}
        <a href="{{ url | build({ page: page, append: 1 }) }}">
      {%- endif -%}
      {{ page }}
      {%- if (options.page != page) -%}
        </a>
      {%- endif -%}
    </span>
  {% endif %}
{% endmacro %}
