[data-apos-refreshable][device-preview-mode] {
  container-type: size;
  margin: 20px auto;
  border: 1px solid var(--a-base-2);
  box-shadow: 0 0 3px var(--a-base-2);

  &[resizable="true"] {
    resize: both;
    overflow: scroll;
  }
}
