body[data-device-preview-mode] {
  background-color: var(--a-base-10);

  [data-apos-refreshable] {
    container-type: size;
    overflow: clip scroll;
    flex-grow: unset;
    margin: 60px auto auto;
    border: 1px solid var(--a-base-6);
    box-shadow: 0 0 12px 0 var(--a-base-7);
    background-color: var(--a-background-primary);

    &[data-resizable="false"] {
      transition: width 400ms ease, height 400ms ease;
    }

    &[data-resizable="true"] {
      resize: both;
      overflow: scroll;
    }

    &::before {
      @include type-help;

      & {
        content: attr(data-label);
        position: relative;
        top: -1.25rem;
        display: block;
      }
    }
  }
}
