body[data-device-preview-mode] {
  background-color: var(--a-base-10);

  [data-apos-refreshable] {
    container-type: size;
    flex-grow: unset;
    margin: 60px auto auto;
    border: 1px solid var(--a-base-2);
    box-shadow: 0 2px 10px 2px var(--a-base-5);
    background-color: var(--a-background-primary);

    &[data-resizable="true"] {
      resize: both;
      overflow: scroll;
    }

    &::before {
      content: attr(data-label);
      position: relative;
      top: -1.5rem;
      display: block;
    }
  }
}
