.apos-input,
.apos-input-wrapper,
.apos-choice-label {
  .apos-field__label + &,
  .apos-field__help + & {
    margin-top: $spacing-base;
  }
}

@mixin apos-input() {
  @include type-base;
  width: 100%;
  border: 1px solid var(--a-base-8);
  border-radius: var(--a-border-radius);
  background-color: var(--a-base-9);
  color: var(--a-text-primary);
  box-sizing: border-box;
  // Some  browser styles set `textarea` to monospace.
  resize: none;
  @include apos-transition(all);

  &::placeholder {
    color: var(--a-base-4);
    font-style: italic;
  }

  &:hover,
  &:focus {
    border-color: var(--a-base-2);
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 3px var(--a-base-2);
    border-color: var(--a-base-2);
    background-color: var(--a-base-10);
  }

  &[disabled] {
    color: $input-color-disabled;
    background: var(--a-base-7);
    border-color: $input-color-disabled;
    &:hover {
      cursor: not-allowed;
    }
  }

  .apos-field--error & {
    border-color: var(--a-danger);

    &:focus {
      outline: none;
      box-shadow: 0 0 3px var(--a-danger);
    }
  }

  &--text,
  &--time,
  &--textarea,
  &--date,
  &--select,
  &--password,
  &--number,
  &--email,
  &--url {
    padding: $input-padding;
    padding-right: $input-padding * 2;
  }
}

.apos-input {
  @include apos-input();
}

.apos-field--inverted {
  .apos-input:not([disabled]) {
    background-color: var(--a-background-primary);
  }
}

.apos-field--small {
  .apos-input {
    &--time,
    &--text,
    &--textarea,
    &--date,
    &--select,
    &--password,
    &--number,
    &--email,
    &--url {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}

.apos-field.apos-field--micro {
  .apos-input {
    padding: 10px;
    font-size: var(--a-type-small);
  }
  .apos-input-icon {
    right: 5px;
  }
  .apos-field__label {
    font-size: var(--a-type-small);
    font-weight: 500;
  }
  &.apos-field--color {
    .apos-button.apos-button--color {
      width: 25px;
      height: 25px;
      padding: 0;
    }
    .apos-color__info {
      font-size: var(--a-type-small);
      margin-left: 5px;
      white-space: nowrap;
    }
  }
}

.apos-input-wrapper {
  position: relative;
  max-width: $input-max-width;
}

.apos-choice-label {
  @include type-base;
  display: flex;
  color: var(--a-base-2);
  align-items: center;
  &:hover {
    color: var(--a-primary-text);
    cursor: pointer;
  }
  & + &,
  .apos-legend + & {
    margin-top: $spacing-base;
  }
}

.apos-input-label--disabled {
  color: var(--a-base-3);
}

.apos-input--choice {
  display: inline;
  max-width: $box-width;
  margin: 0;
  padding: 0;
  &:hover {
    cursor: pointer;
  }
  &[disabled]:hover,
  &[disabled] ~ .apos-input-indicator:hover {
    cursor: not-allowed;
  }
  &:focus ~ .apos-input-indicator {
    outline: none;
    box-shadow: 0 0 5px var(--a-base-1);
  }
  &:checked:focus ~ .apos-input-indicator {
    box-shadow: 0 0 10px var(--a-primary);
  }
}

.apos-input-icon {
  position: absolute;
  top: 50%;
  right: $input-padding;
  color: var(--a-base-2);
  transform: translateY(-50%);
  pointer-events: none;

  .apos-field--error & {
    color: var(--a-danger);
  }
}

.apos-input--select {
  // stylelint-disable property-no-vendor-prefix
  -moz-appearance: none;
  -webkit-appearance: none;
  // stylelint-enable property-no-vendor-prefix
  background-repeat: no-repeat, repeat;

  &:hover {
    cursor: pointer;
  }

  &:hover ~ .apos-input-icon,
  &:active ~ .apos-input-icon {
    color: var(--a-text-primary);
  }

  &[disabled] ~ .apos-input-icon {
    color: $input-color-disabled;
  }
}

.apos-input-icon svg {
  // little bit better centering
  display: flex;
}

.apos-choice-label-text {
  @include type-base;
  margin-left: $spacing-base;
}

.apos-input-indicator {
  @include apos-transition(all, 0.1s, ease-in-out);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: $box-width;
  height: $box-width;
  border: 1px solid var(--a-base-4);
  background-color: var(--a-base-10);

  .apos-choice-label:hover > &,
  .apos-choice-label:focus > & {
    border-color: var(--a-base-2);
  }

  .apos-input--choice[disabled] + & {
    border-color: $input-color-disabled;
    background-color: $input-color-disabled;
  }
  .apos-input--choice:checked,
  .apos-input--choice[checked] {
    // TODO: Does this really need to be important?
    // Disabling for now since I'm not totally sure of impact. ~gvb
    position: relative !important; // stylelint-disable-line
  }
  .apos-input--choice:checked + &,
  .apos-input--choice[checked] + & {
    background-color: var(--a-primary);
    border-color: var(--a-primary);
    color: var(--a-white);

    .material-design-icon {
      display: inline-flex;
    }
  }
}
