[data-apos-refreshable] {
  container-type: size;
}

[data-apos-refreshable][preview-mode] {
  margin: 20px auto;
  padding: 20px;
  border: 5px #ccc solid;
  border-radius: 5px;
}

[data-apos-refreshable] header {
  background-color: $brand-red;
}

@media (max-width < 400px) {
  [data-apos-refreshable] header {
    font-size: 10rem;
    background-color: $brand-gold;
  }
}

@media (max-width: 400px) {
  [data-apos-refreshable] header {
    font-size: 10rem;
    background-color: $brand-gold;
  }
}

// @container (width < 650px) {
//   [data-apos-refreshable][preview-mode="mobile"] header {
//     background-color: $brand-gold;
//   }
// }
//
// @container (width < 800px) {
//   [data-apos-refreshable][preview-mode="mobile"] .demo-rte h2,
//   [data-apos-refreshable][preview-mode="mobile"] .h2 .demo-rte p {
//     font-size: 2rem;
//     letter-spacing: -1px;
//   }
// }
//
// @container (width < 600px) {
//   [data-apos-refreshable][preview-mode="mobile"] .demo-rte h2,
//   [data-apos-refreshable][preview-mode="mobile"] .h2 .demo-rte p {
//     font-size: 1.5rem;
//   }
// }
