.apos-table {
  width: 100%;
  border-collapse: collapse;
}

.apos-table__header {
  margin-bottom: $spacing-base;
  padding: 12.5px 4.5px;
  border-bottom: 1px solid var(--a-base-8);
  color: var(--a-base-3);
  text-align: left;
}

.apos-table__header--title {
  width: 100%;
}

.apos-table__header-icon {
  @include apos-align-icon();
  margin-right: 5px;
}

.apos-table__header-label,
.apos-table__cell-field {
  @include apos-button-reset();
  @include type-base;
}

.apos-table__header-label {
  display: flex;
  align-items: center;
  white-space: nowrap;
  &.is-hidden {
    visibility: hidden;
    position: absolute;
  }
}

span.apos-table__header-label:hover {
  cursor: auto;
}

.apos-table /deep/ .apos-choice-label {
  margin-top: 0;
}

.apos-table__cell,
.apos-table__row {
  @include apos-transition(all, 0.05s);
}
.apos-table__cell {
  padding: 5px;
  border-bottom: 1px solid var(--a-base-10);
}

.apos-table__cell--context-menu  {
  width: 40px;
}

.apos-table__cell-field--context-menu  {
  width: 100%;
}

.apos-table__cell:not(.apos-table__cell--title) {
  white-space: nowrap;
}

.apos-table__link {
  color: var(--a-primary);
}

.apos-table__row:hover {
  box-shadow: 0 8px 12px -12px rgba(0, 0, 0, 0.3);
}
.apos-table__row:hover .apos-table__cell,
.apos-table__row.is-selected .apos-table__cell {
  background-color: var(--a-base-10);
  border-bottom: 1px solid var(--a-base-7);
}

.apos-table__cell-field {
  margin: 0;
}

// might have to be expanded kinda magic
.apos-table__cell-field--title {
  max-width: 50vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
