body {
  font-family: $font-default;
  font-weight: map-get($font-weights, medium);
  font-size: 10px; // stylelint-disable-line
}

:root,
.apos-theme-light {
  --a-danger: #eb443b;
  --a-success: #00bf9a;
  --a-warning: #ffce00;
  --a-progress-bg: #2c354d;

  .apos-theme--primary-purple {
    @include apos-primary-mixin(#6516dd);
    --a-secondary: #e65100;
  }

  --a-danger-button-hover: #c00717;
  --a-danger-button-active: #a10000;
  --a-danger-button-disabled: #ff9d98;

  --a-base-1: #5d5d5d;
  --a-base-2: #6f6f6f;
  --a-base-3: #818181;
  --a-base-4: #939393;
  --a-base-5: #a5a5a5;
  --a-base-6: #b7b7b7;
  --a-base-7: #c9c9c9;
  --a-base-8: #dbdbdb;
  --a-base-9: #ededed;
  --a-base-10: #f4f4f4;

  --a-text-primary: #000;

  // Borders
  --a-border-radius: 5px;
  --a-box-shadow: 0 3px 13px 4px rgba(0, 0, 0, 0.08);

  // Backgrounds
  --a-background-primary: #fff;
  --a-background-inverted: #323232;
  --a-overlay: #00000080;

  // Universal
  --a-white: #fff;

  // Apostrophe brand
  --a-brand-red: #ea433a;
  --a-brand-gold: #cc9300;
  --a-brand-magenta: #b327bf;
  --a-brand-blue: #66f;
  --a-brand-green: #00bf9a;

  // File colors
  --a-presentation: #f1c40f;
  --a-document: #3498db;
  --a-generic: var(--a-base-1);
  --a-spreadsheet: #2ecc71;
  --a-pdf: #e74c3c;
}

.apos-theme-dark {
  .apos-theme--primary-blue {
    @include apos-primary-mixin(#0062ff);
    --a-secondary: #00b075;
  }
  --a-base-1: #d1d3d5;
  --a-base-2: #6b7c92;
  --a-base-3: #607084;
  --a-base-4: #566477;
  --a-base-5: #4b5869;
  --a-base-6: #414d5b;
  --a-base-7: #36414d;
  --a-base-8: #2c3540;
  --a-base-9: #212932;
  --a-base-10: #171d24;

  --a-background-primary: #0b0b0c;
  --a-overlay: #0b0b0c90;

  --a-text-primary: #fff;
}

.apos-theme--primary-blue {
  @include apos-primary-mixin(#0062ff);
}
.apos-theme--primary-purple {
  @include apos-primary-mixin(rgb(2, 2, 2));
}
.apos-theme--primary-orange {
  @include apos-primary-mixin(#e65100);
}
.apos-theme--primary-light-blue {
  @include apos-primary-mixin(#1eacc7);
}
.apos-theme--primary-sun {
  @include apos-primary-mixin(#f7a704);
}
.apos-theme--primary-money {
  @include apos-primary-mixin(#00b075);
}
.apos-theme--primary-pink {
  @include apos-primary-mixin(#fd9ec0);
}
