{% extends data.outerLayout %}
{% block title %}{{ data.page.title }}{% endblock %}

{% block main %}
  <form method="GET" action="{{ data.url }}#main">
    {% if data.filters %}
      <div class="ld-meta">{{ __('Filter Results By Type') }}</div>
      <ul>
        {% for filter in data.filters %}
          <li>
            <input type="checkbox" name="{{ filter.name }}"
              {% if filter.value %}checked{% endif %}
              value="1"
            />{{ filter.label }}
          </li>
        {% endfor %}
      </ul>
    {% endif %}
    <div class="ld-meta">{{ __('New Search') }}</div>
    <input type="search" value="{{ data.query.q }}" name="q" />
    <input type="submit" value="Search" />
  </form>
  {% for doc in data.docs %}
    <h4>{% if doc._url %}<a href="{{ doc._url }}">{% endif %}{{ doc.title }}{% if doc._url %}</a>{% endif %}</h4>
  {% endfor %}
  {% include "pager.html" %}
{% endblock %}

