{# area needs its own copy of the widget options as #}
{# JSON, for adding new widgets #}
{%- set canEdit = data.area._edit and data.options.edit != false -%}
{%- set isSingleton = data.options.limit == 1 and data.options.type -%}

<div class="apos-area" {%- if canEdit %} data-apos-area-newly-editable data-doc-id='{{ data.area._docId | jsonAttribute({ single: true }) }}' data-field-id='{{ data.field._id | jsonAttribute({ single: true }) }}' data-options='{{ apos.util.omit(data.options, 'area') | jsonAttribute({ single: true }) }}' data='{{ data.area | jsonAttribute({ single: true }) }}' data-choices='{{ data.choices | jsonAttribute({ single: true }) }}'{% endif %}>
  {%- if not canEdit -%}
    {%- for item in data.area.items -%}
      {%- set widgetOptions = data.options.widgets[item.type] or {} -%}
      {% widget item, widgetOptions %}
    {%- endfor -%}
  {%- endif -%}
</div>
