// Do not use `place-self`, justify/align-self are more widely supported
.layout-widget {
  display: grid;
  grid-template-columns: repeat(var(--grid-columns, 12), 1fr);

  & > div {
    grid-column: var(--colstart, auto) / span var(--colspan, 1);
    justify-self: var(--justify, center);
    /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
    align-self: var(--align, start);
  }
}
